[2019-04-26 09:16] ijc commented on #1813
I confirm that I see this too. I'll look into a fix.

[2019-04-26 09:25] ijc commented on #1821
I think this should have been fixed by #1802, which commit did you see this with?

[2019-04-26 15:44] jnoelvictorino commented on #263
Same issue. Tried @leite, @brainplot and @gitlines suggestions.
Not sure which suggestion actually made the fix.
<img width="1440" alt="image" src="https://user-images.githubusercontent.com/45357338/56819830-8999ae00-6885-11e9-880e-249bbe2302f8.png">

[2019-04-26 20:12] alexmavr commented on #1837
I just reproduced this on v19.03.0-beta3 on two different GKE clusters and it's still failing for me:

1) On a GKE cluster, run a pod with the `v19.03.0-beta3` CLI binary
2) `kubectl exec -it <pod> sh` into the pod
3) Create a kubeconfig file such as the following:
[code]
4) Create the context
[code]

5) View the context and witness a different IP
[code]

[2019-04-26 20:29] alexmavr commented on #1837
It looks like https://github.com/docker/cli/blob/master/cli/context/kubernetes/save.go#L13-L15 eventually calls into https://github.com/kubernetes/client-go/blob/master/tools/clientcmd/merged_client_builder.go#L121-L124 which will always use the in-cluster config instead of the config loaded from the kubeconfig.

[2019-04-26 21:59] alexmavr commented on #1837
ah nevermind, my kubeconfig was malformed and it was falling over to the in-cluster config :man_facepalming:

[2019-04-26 21:59] #1837 closed

[2019-04-29 01:29] jerryyifei commented on #1143
Any solutions? it's not working.

[2019-04-29 20:40] alexmavr opened #1852 "Support token authentication for kubernetes contexts"
As is stands, whenever kubernetes contexts are imported to the `docker context` subcommand from an existing `kubeconfig` file, user authentication credentials of type `token` are omitted. This prevents contexts from being used in a certain range of cases, such as with service account tokens.

cc @simonferquel

[2019-04-30 16:21] wsong opened #1854 "19.03 CLI always sets `NetworkingConfig.EndpointsConfig` on any container with a network"
It appears that https://github.com/docker/cli/pull/1767 changed the behavior of the CLI to always set `NetworkingConfig.EndpointsConfig` for any container created with a `--net` flag. Previously, this was only set when you specified non-default options for the network.

We should probably match the previous behavior if possible.

[2019-05-01 07:20] romafederico commented on #1134
Hey @thaJeztah ... Thanks for that example. Quick question: Is it possible that you mean `--target` instead of `-t` in the following command?
[code]

I thought `-t` was for `--tag`...

[2019-05-02 06:11] thaJeztah commented on #1134
That's correct; `-t` is shorthand for `--tag`. In my example, both the `prod` and `dev` image build the `final` stage (target), but the `--build-arg` sets the value for `APP_ENV`. Therefore the `final` stage will use a different stage as base image

[2019-05-02 13:21] Zyqsempai commented on #1755
I can take care of this one.

[2019-05-02 17:35] ajbazz commented on #1294
I was getting the same error (Couldn't connect to Docker daemon at http+docker://localunixsocket) when trying to run commands on an EC2 instance on AWS.
After trying a number of suggestions, I tried running a docker-compose command with sudo, and it worked.  So running all commands with sudo resolved all my issues..go figure.

[2019-05-02 19:32] djeikyb commented on #385
i'd like this so i can run a simple dns container for service discovery. i'm running several services locally with docker compose. in prod, they're using dns srv records for discovery, and i'd like to do the same locally inside the compose network. it's easy to add a dnsmasq container to the compose file. but how to get the other services to use it? i hoped to just put the name of the dns containe

[2019-05-03 14:14] Helflym opened #1858 "AIX Support"
Hi,

I've made a similar issue https://github.com/moby/moby/issues/39159. But people have suggested it would be more appropriate to post it there.

Now that AIX support has been added to Go toolchain, we might be able to port some Docker packages.
We (my team and I) already know that having the whole Docker environment is impossible on AIX. The daemon isn't compatible with it (at least noone have

[2019-05-04 00:13] corneliusweig commented on #1597
I have a hunch that this will be superseded by 19.3. Is that correct?

[2019-05-07 10:12] jpertejo commented on #1696
Same problem. Is there any solution planned?

[2019-05-07 21:19] tiborvass opened #1862 "docker build sometimes hangs on OS X when using buildkit"
**Description**
docker build sometimes hangs on OS X when using buildkit.

**Steps to reproduce the issue:**
1.  On OS X
[code]
2.
3.

**Describe the results you received:**
Eventually, (after ~30-50 loops on my machine) docker build hangs indefinitely.

**Describe the results you expected:**
All builds to pass without hanging.

**Additional information you deem important (e.g. issue happens only

[2019-05-08 20:13] cycomachead commented on #961
The fact that my CLI currently does this is highly frustrating and confusing... :(
It would be immensely helpful if the CLI could at least not suggest my email address, since some sites do use email as usernames. (even though that's a rant I'll omit!)
[code]

[2019-05-09 01:53] northtyphoon commented on #1696
hit the same issue

[2019-05-09 02:04] thaJeztah commented on #961
Unfortunately this is something to be addressed by the registry (Docker Hub), as the cli itself cannot make the assumption of e-mail is supported or not (other registries may support authenticating using e-mail).

I did open an internal ticket for this, to make the registry return a more useful error message

[2019-05-09 08:08] cycomachead commented on #961
Thanks! To be clear, the specific confusion that I wanted to highlight was that the docker CLI is looking to the Docker app and grabbing my email from there. (It was not suggested when I was not signed into the app.)

[2019-05-09 08:12] pszczekutowicz commented on #1814
I used Docker Client 18.09.6 with Docker Server 19.03.0-beta3 and I encounter same issue.

[2019-05-09 16:30] thaJeztah commented on #961
Yes, that inconsistency is being looked into by the Desktop team

[2019-05-10 21:17] cnrmck commented on #1559
Note that you can also get this error if you delete a prior stage of a multistage build (say with `docker rm $(docker ps -f status=exited -q)`) while the remaining stages are still building.

This can be a very frustrating mistake to make because it also deletes the cache so you get to start all over again 😢

[2019-05-10 21:30] tonistiigi commented on #1559
@cnrmck Not with buildkit

[2019-05-12 16:41] solesensei commented on #1136
[code]
Work for me

[2019-05-13 13:38] joaoribmartins opened #1873 "container_linux.go:247: starting container process caused "exec: \"./script.sh\": stat ./cplace.sh: no such file or directory""
I've following Dockerfile:
[code]
I can create the image and run the container without problems on my local machine.
Once I push it to my openshift environment, docker throws following error:

Any Idea what can be wrong here?

Thank you in advance
Joao

Output of `docker version on my local machine`:**
Client: Docker Engine - Community
 Version:           18.09.2
 API version:       1.39
 Go versi

[2019-05-13 13:50] #1813 closed

[2019-05-14 10:51] ijc commented on #1812
Ping @SvenDowideit can you confirm that it is only the `docker-cli-plugin-metadata` endpoint which was unexpectedly called?

[2019-05-14 10:52] ijc commented on #1821
ping @tonistiigi can you confirm if this was with a build before or after #1802 was merged?

[2019-05-14 15:27] cnrmck commented on #1559
@tonistiigi What specifically is "Not with buildkit"?

[2019-05-15 08:30] n0str commented on #297
It is also may be caused by modified credentials (on Windows). When you have changed your system password, Docker cannot automatically determine it.
You should go to Settings\Shared Drives and Reset credentials.

[2019-05-15 13:05] iwpnd commented on #297
This actually fixed it for me. Went nuts for a whole afternoon. Thank you!

[2019-05-16 09:05] ppxl commented on #923
Hi All,

I stumbled over this issue when I wanted to add a different issue for a manpage typo in docker-image-load. While I am more than happy to provide a PR I am unsure if this issue would fit better?

If you could provide some guidance in this situation, I'd be happy to hear from you.

[2019-05-16 12:40] h4wkmoon commented on #1274
same with 18.09.6

[2019-05-17 02:10] browncrane opened #1891 ""endpoint with name XX already exists in network" can't disconnect container from bridge"
**Description**

Firstly, mycontainer can't be stopped by `docker stop mycontainer`
After `docker rm -f mycontainer`, the same container can't run with
`docker: Error response from daemon: endpoint with name mycontainer already exists in network bridge.`
Tried `docker network disconnect bridge mycontainer`
but the error still exists, `docker network inspect bridge` will see mycontainer there

**St

[2019-05-17 02:22] browncrane commented on #1891
After `service docker restart`, things back to normal.

[2019-05-17 06:13] ppxl commented on #923
I am just realizing the last active comment was half a year ago. Is this thing still on? :thinking: I could jump because I am using the `cli` manpages a lot for reference.

[2019-05-17 08:19] tao12345666333 opened #1892 "Client.Timeout exceeded while reading body"
**Description**

**Steps to reproduce the issue:**

1. run any container. e.g. redis
[code]

2. `docker logs -f` follow the container's logs.
[code]

**Describe the results you received:**

[code]
**Describe the results you expected:**

follow the logs.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `dock

[2019-05-17 08:23] tao12345666333 commented on #1892
using `strace -tt -T -f -o cli-strace.txt docker logs -f 7078a615609d`

cli strace log here. [cli-strace.txt](https://github.com/docker/cli/files/3190578/cli-strace.txt)

[2019-05-17 08:26] tao12345666333 commented on #1892
And the seem error here:

[code]

the daemon's log

[code]

**Not continuing with pull after error: context canceled**

[2019-05-17 08:33] ijc commented on #1892
I am pretty sure this is because of #1872. I'll try and take a look today.

[2019-05-17 08:48] tao12345666333 commented on #1892
Thanks for your reply.  The version I am using now is built with the https://github.com/docker/docker-ce/commit/b274b68fcbe2006573b68bee5413e355c6b8f655 commit. This does contain the timeout change.

[2019-05-17 08:49] ijc commented on #1892
I've now tested head with an without that commit and can confirm it is at fault. The fact that the timeout happens after 10s is also a big hint.

[2019-05-17 08:56] tao12345666333 commented on #1892
I tried to build using master's latest code(4c605bdc) on my laptop.

[code]

**It works well.**

[code]

my golang version is 1.11.6.

[2019-05-17 09:01] tao12345666333 commented on #1892
but I am still not sure exactly where to fix this problem.

[2019-05-17 09:25] tao12345666333 commented on #1892
when I using `make -f docker.Makefile binary` build, can reproduce the issue.

[code]

[code]

[2019-05-17 09:34] ijc commented on #1892
@tao12345666333 I think we will have to revert #1872 for now. I can't see a way to fix this issue only in this repo while still retaining the reduced timeout for dial but not for subsequent operations.

I think I will need to patch github.com/docker/docker/client or perhaps github.com/docker/go-connections to achieve what I was trying to do with #1872.

[2019-05-17 09:37] ijc commented on #1892
See #1893 which reverts the commit for now.

[2019-05-17 09:45] tao12345666333 commented on #1892
Thanks.
I also revert this commit and test will not encounter the previous problem.

[2019-05-17 09:55] tao12345666333 commented on #1892
But I still have a confusion :thinking:

Why do I not encounter the same problem with the binary files I built directly with `DISABLE_WARN_OUTSIDE_CONTAINER=1 make`?

[2019-05-17 10:21] ijc commented on #1892
I'm can't explain that, I can reproduce equally with both `DISABLE_WARN_OUTSIDE_CONTAINER=1 make` and `make -f docker.Makefile build`.

Perhaps a permission issue (since `build` is owned by `root` after `make -f ...` version) or something similar meant that the binary was not actually rebuilt when you thought it was?

[2019-05-17 12:32] #1892 closed

[2019-05-17 13:53] dirkschneemann commented on #1771
It looks like this will be part of the upcoming `19.03` release: [This PR](https://github.com/docker/cli/pull/1746) is linked in the [release notes](https://github.com/docker/docker-ce/releases/tag/v19.03.0-beta4) of the latest beta version.

[2019-05-17 18:16] tonistiigi commented on #1821
Yes, seems to be working with newer versions. Thanks!

[2019-05-17 18:16] #1821 closed

[2019-05-20 10:01] yisraeldov commented on #939
There is this work around `docker-compose config | docker stack deploy --compose-file - test` That will create your `docker-compose.yaml` but replace with the variables from `.env`

[2019-05-21 09:41] fago commented on #1372
Running into this as well.
That and having it to automatically add a network alias with the service name is problematic when using traefik. See https://forums.docker.com/t/multiple-networks-in-a-docker-compose-file-precedence/39071

[2019-05-21 16:20] thaJeztah commented on #1771
Yes, this should be implemented in https://github.com/docker/cli/pull/1746

I'll close this ticket, but feel free to continue the conversation

[2019-05-21 16:20] #1771 closed

[2019-05-21 16:21] thaJeztah commented on #1891
/cc @arkodg

[2019-05-21 16:24] thaJeztah commented on #1873
What version of Docker is running in openshift?

[2019-05-21 16:36] arkodg commented on #1891
Hi @browncrane, would really appreciate it if you could share the exact steps to recreate this issue .
[code]

[2019-05-21 16:52] andrewhsu opened #1897 "docker cli experimental flag for plugins"
Change request...

Have the docker cli experimental flag in `~/.docker/config.json`:
[code]

Control whether _experimental_ docker cli plugins are enabled.

This would imply a need for plugins to be marked as _experimental_ if desired.

Related: #1564

[2019-05-21 16:56] meirkr commented on #297
Same what happened for me: "This actually fixed it for me. Went nuts for a whole afternoon. Thank you!"

[2019-05-21 21:26] kinghuang opened #1899 "Feature Request: Override current context by environment variable"
**Description**

Docker CLI 19.03 adds new context management features to quickly switch between Docker engines/clusters. While it is really handy, I'm finding it difficult to work with across terminal sessions.

I regularly have several Terminal windows open, connected to several separate Docker engines by setting environment variables like `DOCKER_HOST`, `DOCKER_CONFIG`, and `DOCKER_TLS_VERIFY`.

[2019-05-21 22:22] silvin-lubecki commented on #1899
Hello @kinghuang , thank you for filling this issue. As far as I can remember the `DOCKER_CONTEXT` environment variable you propose is already implemented. Can you try it? I will close this issue, but if I'm wrong feel free to re-open it !

[2019-05-21 22:22] #1899 closed

[2019-05-21 22:39] kinghuang commented on #1899
Lol! I didn't see any docs about it, and didn't think to blindly try it. `DOCKER_CONTEXT` indeed already exists and specifies the context to use. Thanks!

[2019-05-22 07:27] browncrane commented on #1891
Hi @arkodg , the container is running quite long ago. So I may miss some info about it.
I think it was added to a user-defined network. Running normally for a while.
Later I replaced the jar file in it, and it can't be stopped, it should be my application's problem.
So I have to `rm -f`. Then it goes here, Trying to disconnect a "ghost" container but not work.

The run command is:
`docker run -dit

[2019-05-22 07:33] browncrane commented on #1891
[code]
my user account was not in docker group at first. But if `docker network disconnect` fail on the privilege reson, I would notice and rerun with sudo.

[2019-05-22 10:01] silvin-lubecki commented on #1899
Well, you are right on this point, there isn't any documentation about this environment variable...

[2019-05-22 10:02] silvin-lubecki opened #1901 "Add documentation on DOCKER_CONTEXT environment variable"
There isn't any mention of the `DOCKER_CONTEXT` environment variable in the documentation nor in the help message.

Linked to #1899

[2019-05-22 11:56] Santosh-Punase commented on #1136
@Titom222 Worked for me!
Thanks.

[2019-05-22 19:31] andrewhsu commented on #1897
After going over [feedback from implementation PR](https://github.com/docker/cli/pull/1898#issuecomment-494865191), I'm putting some constraints on this change request to help with the flow of developers installing and cli plugins...

Requirements:
1. docker-ce packages install cli experimental packages by default but disabled
2. user of docker-ce must explicitly enable experimental plugins that c

[2019-05-22 21:12] saschaiseli commented on #1136
very helpful!!

Install the following Packages in ubuntu 18.04 fixed my issue

sudo apt install gnupg2 pass

[2019-05-23 04:40] andrewhsu commented on #1897
Talked through some of the _implementation_ steps with @tiborvass and having a scan of directories seem the way to go for keeping binaries separate.

So, if the client config `~/.docker/config.json` has `experimental` flag set then the binaries for the plugin will be searched in the following order:
1. `cliPluginsExtraDirs` directories specified in `~/.docker/config.json`
2. the `~/.docker/cli-plu

[2019-05-23 07:27] mat007 commented on #1897
Is the `-experimental` suffix in the file names, the folder names or both?

[2019-05-23 08:11] gtardif commented on #1897
Also, in the steps above, it seems that the `-experimental` filename suffix will work in `cliPluginsExtraDirs` and `defaultSystemPluginDirs`, but not in `~/.docker/cli-plugins`. Any reason for this ?

[2019-05-23 08:14] gtardif commented on #1897
The requirements at the top specify "docker-ce packages install ...", "user of docker-ce must ...".
Does this means there is a difference with docker ee ? (I assume not, but just to be clear)

[2019-05-23 08:31] gtardif commented on #1897
For Desktop practicals, we are depending on the structure of the engine bundles, has the detailed layout been defined for the files `bundles-ee-cross-darwin.tar.gz`, `bundles-ee-cross-windows.tar.gz`, etc. ? (This is impacting you @seemethere directly as well, I guess)

[2019-05-23 09:39] thaJeztah commented on #1897
Some quick blurbs from discussions I had;

### A. Separate directories for experimental plugins:

- might complicate things for Docker Desktop (in combination with version packs)
- could be more problematic when upgrading plugins from experimental to stable (as in: old plugin must be removed, and cannot be overwritten)
- what is the preferred order of preference if a plugin is installed _both_ in

[2019-05-23 10:22] guillaumerose commented on #1897
### E. Do nothing. Let distributions ship what they want.

* Keep only one directory for experimental plugins and display them all. No change in metadata.
* Debian packages, Docker Desktop and other distributions choose what they want to provide.
* Release each plugin individually. Let the distribution do the right aggregation.

**Distributors are responsible of what they provide to end users**. T

[2019-05-23 12:42] tiborvass commented on #1897
@mat007 @gtardif `-experimental` as part of the current proposal was to be appended to the folder names only. (There was a variant with `-experimental` only on filenames without changes to directories but it complicates things a lot on the cli and requires the same amount of work on Desktop).

A user installing a plugin themselves is already an act of opting in, they shouldn't need to enable exper

[2019-05-23 12:47] thaJeztah commented on #1897
I think the complication (or at least: additional work) is that docker desktop creates symlinks for all plugins. In case of version-packs, different versions would have a different set of plugins (or same plugins but either experimental or non-experimental). I don't have insight in the amount of additional work required though

[2019-05-23 12:47] tiborvass commented on #1897
Agree with @guillaumerose on letting distros ship what they want. I just hope they don't want to support plugins that aren't ready. My personal favorite option would be to not ship any plugins and let users download them easily, documented via docs. But I guess that ship has sailed.

[2019-05-23 14:21] tiborvass commented on #1897
Upon @ijc's request I changed precedence to:
- `cliPluginsExtraDirs`
- `cliPluginsExtraDirs` with `-experimental` appended to each directory
- `~/.docker/cli-plugins`
- `~/.docker/cli-plugins-experimental`
- `defaultSystemPluginDirs`
- `defaultSystemPluginDirs` with `-experimental` appended to each directory

[2019-05-23 17:26] jcoliz opened #1903 "Running a container on Windows host WITHOUT Windows Containers feature enabled gives an un-helpful error message"
**Description**

Running a container on Windows host WITHOUT Windows Containers feature enabled gives an un-helpful error message. Should have simply told me: "Windows Containers are not enabled. To enable them, run: dism /Online /Enable-Feature=Containers"

**Steps to reproduce the issue:**
1. Run on a Windows host. These repro steps are for Windows 10 version 1809 (build 17763), however this rep

[2019-05-23 18:38] andrewhsu commented on #1897
For the packaging side of things, to get docker-ce and docker desktop managing cli plugins as experimental, it has become more clear that #1898 seems like the fastest path to ground.

I'll open a separate issue to track proper treatment of lifecycle management of docker cli plugins which is the thing that we want to really get to for installing cli plugins, update cli plugins and have plugin autho

[2019-05-23 18:48] andrewhsu opened #1904 "cli plugin lifecycle management"
Following on #1534 This issue is to track a change request to add lifecycle management of docker cli plugins. Would like operations from the cli UX to accomplish:

- installing plugins
- listing installed plugins
- updating installed plugins
- removing installed plugins

Some specific use cases:
- developers to easily install plugins in development flux
- early adopters try out a plugin that is no

[2019-05-23 18:49] andrewhsu commented on #1897
change request for docker cli plugin lifecycle management #1904

[2019-05-23 19:11] #1897 closed

[2019-05-23 19:47] thaJeztah commented on #1903
ping @jhowardmsft @jstarks ptal

[2019-05-24 06:50] hktalent opened #1906 "remove > 20G，commit，Bigger than before ，bug?"
$ docker images|grep kali
m.t.x_kali-linux20190308_170146   latest                      17eff4b47b79        2 months ago        68.9GB

remove
[code]
remove > 20G,but
[code]
m.t.x_kalinux20190524_144544      latest                      cabc78c8c137        18 seconds ago      69.1GB

Bigger than before
<img width="689" alt="image" src="https://user-images.githubusercontent.com/18223385/58309227-3d1

[2019-05-24 06:55] hktalent commented on #1906
https://stackoverflow.com/questions/46659831/why-docker-image-size-is-so-big-after-i-run-docker-commit

[2019-05-24 07:00] hktalent commented on #1906
how merge?
https://github.com/moby/moby/issues/332

[2019-05-27 12:37] straurob opened #1909 "No output result when filtering the 'docker service ls' command by partial name"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
**Description**
It seems as if the `--filter` option for the `docker service ls` command does not handle service names correctly in different stacks.

**Steps to reproduce the issue:**
1. Deploy a service named `mariadb_testdb` in multiple stacks.
2. Use the following comm

[2019-05-27 14:15] #1906 closed

[2019-05-28 06:53] rulatir commented on #1318
This is just absolutely awful. Docker and docker-compose developers randomly remove features without a word of a rationale.

[2019-05-28 20:04] DaWoody commented on #1009
Hi @thaJeztah I was hoping you could help me answer a quick question about passing variables between multi-staged builds in a Dockerfile, **without** using global arguments. To make it more clear of why I am asking this.

My use-case (snippet from a fictive Dockerfile) is something like this:

[code]

... The problem is ofc how its possible to pass the `NODE_VERSION` variable into the second build

[2019-05-28 21:26] triusis92 commented on #1559
I am having the same error with  COPY --from line.
I'm new to Docker, would appreciate some help.
Not sure what @tonistiigi means by needing to have a second stage.

My docker file:

`
FROM node:latest

RUN mkdir -p /src/app/

WORKDIR /src/app
ENV PATH /src/app/node_modules/.bin:$PATH

COPY package.json /src/app/

RUN npm install
RUN npm install react-scripts -g

ADD src /src/app/src
ADD public /s

[2019-05-28 21:33] tonistiigi commented on #1559
Buildkit is isolated and you can't interfere with the running build by deleting containers or images.

You need to do `FROM node:latest AS build` on first line

[2019-05-28 21:39] triusis92 commented on #1559
@tonistiigi thank you, that worked perfectly

[2019-05-29 21:54] thaJeztah commented on #1009
You can't set Dockerfile variables from the result of a shell command (and no, a local `ARG` cannot be used to set a global arg).

[2019-05-30 01:36] fastreles commented on #625
I'm looking for something similar, to prune the superseded intermediate layers (only). If we build project XvN on our build server using a multi-stage build, we get intermediate layers each time. When we rebuild the same version (same tag for the final image), we end up with an old, unused copy of the intermediate layer(s) that we would like to be able to delete. `docker image prune` deletes even

[2019-05-30 09:28] DaWoody commented on #1009
@thaJeztah ok Thanks for the answer! Which is: its not possible from within a Dockerfile to generate a value that will later be used in latter multistage FROM section ( the pattern according to the code snippet provided). I must know outside of the Dockerfile what version I am to use in all or any FROM sections in a single or multistaged build Dockerfile?

[2019-05-30 11:08] Billy- commented on #1862
Could someone advise how I can track progression on this issue in buildkit, and then consequently in docker? 🙇

[2019-05-30 13:37] 0x13a commented on #1696
same issue on Mac OS X

[code]

using docker
[code]

[2019-05-30 18:32] rcollette opened #1913 "Feature Request: Add --secrets value= for specifying secret directly on CLI"
**Description**
Secrets that I need to provide are present as exported environment variables on the build server.

Rather than having to create files on the build server (and thus risk the secrets being left behind on the build server), I would like to specify the secret directly in the command line like:

[code]

[2019-05-31 08:14] denefoster commented on #989
Having the same issue with a registry behind traefik, image pull/push works fine manifest create results in:

`no such manifest: xxx/docker-light-baseimage:amd64`

Debug output shows the response being auth required:
[code]

Happy to provide any configs to help

[2019-05-31 18:52] Macke97 commented on #1136
@saschaiseli That worked perfectly  🤙🏼Thanks a lot!

[2019-06-02 13:23] lukaszlach commented on #1534
Thank you for this feature! I have created a plugin for creating, building, installing and managing other plugins. Shipps with plugins like dive (explore image layers), expose (expose container on the Internet), publish (publish port on the running container), showcontext (display contents of the build context).
https://github.com/lukaszlach/clip

[2019-06-03 00:38] eubnara commented on #559
Is there any plan not to store password credentials?
I just want to use one-time docker login. If I use the same machine with my teammates, it is hard to secure my password. Even though I use `pass`, the person who makes gpg id with passphrase is able to know passwords on the same machine using `docker-credential-pass` like this:
[code]
When someone share a machine, I think it is safe to login onl

[2019-06-03 07:41] guillaumerose opened #1915 "Feature request: support glob in credHelpers option"
If I want to use ECR, I need to add each ECR registry to credHelpers like:

[code]

A good default would be:

[code]

It will work directly, and will remove eventual conflict with others amazonaws.com domains.

GCR seems to be fine. They use `gcr.io` domain directly. Same for Azure, `azurecr.io`.

[2019-06-03 10:17] thaJeztah commented on #559
@eubnara perhaps better to open a new ticket / enhancement request for that. That said; I think all existing credential-stores are per-user, so even though the machine could be shared between colleagues; if colleagues use their own user-account on the machine, they would not have access to other colleague's credentials (from the _client_ perspective; if the daemon is running on the same host, and

[2019-06-04 12:28] thaJeztah commented on #1915
/cc @justincormack @dmcgowan

[2019-06-04 14:02] Rapix-x commented on #204
This also happens on Ubuntu 18.04 with the pass credential helper.

[2019-06-04 20:08] kinghuang opened #1919 "Feature Request: Support zip or flat files for context import/export"
**Description**

In CLI 19.03, docker contexts can be imported/exported via tar files. I'd like to be able to generate contexts from Terraform configs, but the [archive_file](https://www.terraform.io/docs/providers/archive/d/archive_file.html) data source only supports outputting zip files.

It would be helpful if `docker context import/export` supported zip files for Docker contexts. Or, a flat f

[2019-06-04 21:50] kinghuang opened #1920 "Context import erroneously reports successful import for any tar"
**Description**

`docker context import …` succeeds even if the file is not a valid context archive.

**Steps to reproduce the issue:**

[code]

**Describe the results you received:**

The command returned successfully.

**Describe the results you expected:**

An error should occur. The context was not imported because the file was not a valid context file.

**Additional information you deem impor

[2019-06-04 23:01] kinghuang opened #1921 "Docker context with inconsistent context dir can be listed but not used"
**Description**

If I manually create directories and files for a context under `$DOCKER_CONFIG/contexts/meta/…` and `$DOCKER_CONFIG/contexts/tls/…` with a context directory name that isn't a digest of the context name, the context shows up when I list contexts, but it cannot be selected for use.

**Steps to reproduce the issue:**

Given a new context named `foo` and a made up id of `abcde`:

1. C

[2019-06-05 08:23] joaoribmartins commented on #1873
docker-1.13.1

[2019-06-05 09:53] jdrouet opened #1922 "Feature request: add json schema to validate the daemon settings"
**Description**

In docker cli, we already embed a json schema for docker compose, maybe we should have one also for the daemon settings.

**Describe the results you expected:**

Have a JSON Schema file with the settings definition

[2019-06-05 10:19] thaJeztah commented on #1922
This change would be in the moby repository (which is where the daemon CLI lives), but yes, I definitely agree we need something for this. From https://github.com/moby/moby/pull/34093#issuecomment-316698133

Some related issues;

- https://github.com/moby/moby/pull/34093 ("warn for unknown options")
- https://github.com/moby/moby/issues/21559 ("How to check docker daemon options when using daemon.

[2019-06-05 10:20] thaJeztah commented on #1922
One thing to take into account is daemon upgrades/downgrades may invalidate existing configuration files; we should either "error", or "warn" on those

[2019-06-05 10:41] tstibbs opened #1923 "Stack deploy docs don't explain --orchestrator"
The file [stack_deploy.md](https://github.com/docker/cli/blob/2c7822b0361dd3e78bb0745a5c03f741bc21821e/docs/reference/commandline/stack_deploy.md) mentions the `--orchestrator` flag but does not explain what it does or what the different options do. Of the three values it lists for this flag, `swarm` and `kubernetes` might be considered to be self-explanatory, but the `all` option certainly isn't.

[2019-06-05 12:22] thaJeztah commented on #1873
That's a really old version of Docker; Docker 1.13 reached EOL over two years ago, and hasn't been maintained since; I'd highly recommend running a currently supported version, because older versions have known (unpatched) vulnerabilities, including container escapes (which allow a container's process to break out of the container and potentially obtain root access on the host).

If the `docker-`

[2019-06-05 12:22] #1873 closed

[2019-06-05 12:30] solvingj commented on #1534
This is indeed a very exciting project for people making tools that would interop with docker.

Another tools related project just added a "Plugins" feature which they later renamed to "Hooks", because it's essence was running custom tools before and after various steps in the tools process.  It seems a reasonable suggestion here.  "Docker Hooks".

[2019-06-05 15:19] thaJeztah commented on #1920
Thanks for reporting; I ran into this when testing a recent PR, and will be looking at a fix.

The TL;DR is that it checks if importing the expected data went successfully, but doesn't produce an error if no metadata was found.

[2019-06-05 16:14] thaJeztah commented on #1920
opened https://github.com/docker/cli/pull/1924

[2019-06-05 18:22] kelseym opened #1925 "fo"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

[2019-06-05 18:22] #1925 closed

[2019-06-05 19:16] d-shi commented on #625
I also ended up on this issue after trying to figure out how to prune old images from one specific registry, but do not delete any images from any other registries. There does not seem to be the ability to use `--filter until=` with `docker image ls`, and also there does not seem to be the ability to use `--filter reference=` with `docker image prune`. What gives? If either of those were options I

[2019-06-05 19:37] olljanat commented on #625
@fastreles I suggest that you look [buildkit](https://github.com/moby/buildkit) which have "Automatic garbage collection"

@d-shi if those are in use by some containers you can just run removal for all of them. It generates some errors but works. Other way is get ids/tags for images which you want to keep, filter them out from full list and remove rest (quite simple for each loop).

[2019-06-05 20:09] d-shi commented on #625
@olljanat the point is I do _not_ want to remove all the images, only those that are past a certain age and only for a specific repository. Basically I need to be able to use `--filter reference=` in conjunction with `--filter until`, but there doesn't appear to be a way to do so.

[2019-06-05 22:10] esenturion commented on #1136
Also for me! Thanks!

[2019-06-06 05:13] cpuguy83 opened #1928 "[19.03] context sets 30s context timeout."
The context dialer is setup with a 30s timeout: https://github.com/docker/cli/blob/c02f389c787f9c74a517c0f718ca05ea4ba886cd/cli/context/docker/load.go#L148

This seems to break all the things which take longer than 30s.

[2019-06-06 12:47] cranphin commented on #327
I would like this, my use case is to test images for RPI on my Windows PC. This works because the current Docker version actually runs/emulates different architectures.
Note this recent post: https://engineering.docker.com/2019/04/multi-arch-images/
This goes into the emulation support, but even in this recent post the manifest needs to be inspected, and the hashes used, to actually run the differ

[2019-06-06 19:09] #1920 closed

[2019-06-06 19:59] cpuguy83 commented on #1928
Ok, I think I mis-copied a bin or smething with an old change in it.
This seems to be fine.

[2019-06-06 19:59] #1928 closed

[2019-06-07 05:31] nodesocket opened #1930 "docker push no progress/quiet"
When invoking `docker push` is it possible to prevent/silence progress output? We are running docker push via ci and the progress output is just noise:

[code]

[2019-06-07 16:57] thiagolsfortunato commented on #267
Any new?!

[2019-06-08 16:17] hogmoru commented on #839
Hmm, this works for me on Linux with 18.09.5, and 19.09.0-dev (built from current sources). It fails with 18.03-0-ce.

Ran a few tests with various versions, looks like this is fixed since #1102 was merged... Or have I missed something?

[code]

[2019-06-09 15:24] kissme666 commented on #1136
Thank you!👌

[2019-06-09 15:44] kinghuang commented on #1919
Zip file support for `docker context import` was merged in #1895, and backported to 19.03 in #1912. I'm able to import zip files in 19.03.0-rc2.

[2019-06-09 15:44] #1919 closed

[2019-06-09 16:15] kinghuang opened #1931 "Feature Request: Switch between multiple related hosts in a context"
**Description**

The new context feature in CLI 19.03 makes it easy to switch between multiple Docker hosts and Kubernetes endpoints. I often deal with groups of Docker hosts in a cluster that share a common set of TLS cert and key. There isn't a convenient way to use a context, which has the cert and key, but switch between multiple hosts.

**Steps to reproduce the issue:**

1. Assume there is a

[2019-06-09 16:22] kinghuang opened #1932 "Confusing warning when selecting default context with DOCKER_HOST set"
**Description**

If the `DOCKER_HOST` environment variable is set and the `default` context is selected, a confusing warning is printed about `DOCKER_HOST` overriding the active context.

**Steps to reproduce the issue:**

1. Set `DOCKER_HOST=unix:///var/run/docker.sock` (or any other endpoint).
2. Do `docker context use default`.

**Describe the results you received:**

A warning message is print

[2019-06-09 17:34] kinghuang opened #1933 "Use context name in context file during import as a default"
**Description**

The `docker context import …` command requires two arguments: `CONTEXT` and `FILE|-`. It would be nice if the `CONTEXT` argument could be made optional, and default to the name of the context specified in the context file.

**Steps to reproduce the issue:**

1. Attempt to import a context specifying only one argument.

[code]

**Describe the results you received:**

[code]

**Desc

[2019-06-11 18:32] tao12345666333 opened #1938 "cli with buildkit will ignore dockerignore's check"
**Description**
docker CLI with builkit enabled will ignore .dockerignore file's read errors.

**Steps to reproduce the issue:**
[code]

**Describe the results you received:**

Build image successfully.

**Describe the results you expected:**

Build image failed.

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Outpu

[2019-06-11 20:27] fridel83 commented on #1632
Hello,

As seen at the line

it's look like you don't have docker installed or the docker binary is not on the PATH.

[2019-06-12 07:37] adnilsson commented on #1559
I'm having a similar issue. An MWE Dockerfile:
[code]
`docker build -t [tag] .` with or without `--pull` yields the following error at the last step:
invalid from flag value bulid: pull access denied for bulid, repository does not exist or may require 'docker login'

**`docker version`** output:
[code]

I'm running Ubuntu 16.04.6 LTS

[2019-06-12 10:23] thaJeztah opened #1942 "Service update ignores existing log-driver when setting log-opt"
as reported in https://github.com/docker/docker.github.io/issues/8745 by @Tomcat-Engineering

When updating a service (`docker service update`), any `log-opt` specified is ignored unless a `log-driver` is also set when updating.

this looks to be a combination of something that's by design, and (what I think is) a bug in the `docker service update` logic; `docker service create` and `update` shoul

[2019-06-12 10:28] thaJeztah opened #1943 "Enhancement: "log driver / opts" missing in `docker service inspect` pretty-print"
Noticed that the logging-driver and options are not included in the `--format=pretty` output for a service.

Create a service with a custom logging driver and -options set;

[code]

Inspect the service in JSON format, and notice that the options are set:

[code]

Inspect the service using the "pretty-print" format, and notice that the logging options are missing:

[code]

[2019-06-12 17:05] tonistiigi commented on #1559
@adnilsson `--from=build` not `--from=bulid` :)

[2019-06-12 17:20] #1559 closed

[2019-06-12 18:57] davidmsibley opened #1944 "docker volume prune: Invalid filter 'driver'"
**Description**

Using a filter of "driver=local" I receive an error `Error response from daemon: Invalid filter 'driver'` when used with prune, but not when used with ls.

The docs imply I should be able to [filter by driver](https://docs.docker.com/engine/reference/commandline/volume_ls/#filtering) when [pruning](https://docs.docker.com/engine/reference/commandline/volume_prune/).

**Steps to re

[2019-06-12 19:27] adnilsson commented on #1559
Ah, silly me!

On Wed, Jun 12, 2019 at 7:21 PM Tõnis Tiigi <notifications@github.com>
wrote:

[2019-06-12 20:16] wekeepofficial commented on #1148
Recreating the container worked for me.

[2019-06-12 20:21] cpuguy83 commented on #1944
`prune` currently only works on the `local` driver.
Perhaps that should be revisited.

[2019-06-12 20:43] davidmsibley commented on #1944
Ah, you're right. The description clearly says it will `Remove all unused local volumes.`  I'm good with that functionality, I just misunderstood the docs due to the filter capabilities being different.

[2019-06-12 20:43] #1944 closed

[2019-06-13 10:23] tomkcook opened #1945 "`docker container create` has no way to attach no streams"
**Description**

`docker create` appears to ignore `--tty=false`.  No matter what `--tty` option is provided, `AttachStdout` and `AttachStderr` are set to `true`.

**Steps to reproduce the issue:**
1. `docker create --tty=false alpine:3.9`
2. `docker inspect $(docker ps -a -q | head -1) | grep Attach`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

**

[2019-06-13 12:03] thaJeztah commented on #1945
The `--tty` option looks to be unrelated to this (setting `--tty=false` is the default, and sets the `Tty` property to false for the container).

So to set those values to `false`, `--attach` / `-a` should probably either accept `""` (no value), or a `none` special value. Setting e.g. `--attach=STDIN` will actually set `StdErr` and `StdOut` to `false` (but of course `StdIn` to `true`).

Wondering;

[2019-06-13 14:01] arno01 commented on #53
That looks like is on a very low priority...
We also need this one as it would help our Saltstack in omitting stack application when it sees no changes.
And then, it's always good to have this option (``--dry-run``) so one isn't scared applying an updated stack to the production.

[2019-06-13 20:00] cpuguy83 opened #1947 "[19.03] help on cli plugin shows all commands"
[code]

[2019-06-13 20:02] cpuguy83 commented on #1947
Doesn't seem to be finding CLI plugins at all.

[2019-06-13 22:37] thaJeztah commented on #1947
arf; guess because it's a "special" flag

nice find; thanks!

[2019-06-14 13:56] autodiscover opened #1949 "DOCKER_CONTENT_TRUST_SERVER not working correctly with port number"
**Description**

`DOCKER_CONTENT_TRUST_SERVER` does not work correctly if a port number is provided.

**Steps to reproduce the issue:**
1. `export DOCKER_CONTENT_TRUST=1`
2. `export DOCKER_CONTENT_TRUST_SERVER=https://notary.docker.io:443`
3. `docker image pull mariadb/server`

**Describe the results you received:**
[code]

This appears to be a HTTP 503 error.

**Describe the results you expected:

[2019-06-14 15:17] thaJeztah commented on #1949
Thanks for reporting; I'm able to reproduce this.

Wondering if it's an issue in the client, or if there's a configuration issue with the hosted notary server 🤔

/cc @justincormack ptal

[2019-06-14 15:21] autodiscover commented on #1949
The two requests should be identical, with the exception of the `Host` header that likely contains the port only in one case.

[2019-06-16 15:22] wndhydrnt opened #1951 "Unable to push manifest to an insecure registry with self-signed certificate"
**Description**
Pushing a manifest to a Docker registry that uses a self-signed certificate and is marked as insecure in the Docker daemon does not work. The request being sent always uses HTTP instead of HTTPS.

**Steps to reproduce the issue:**
1. Start a Docker registry using a self-signed certificate. Mine is running at `127.0.0.1:52854`.
2. Use `docker manifest create` to create a new manifes

[2019-06-16 15:23] wndhydrnt commented on #1951
I am working on a fix and will create a PR.

[2019-06-17 17:35] kinghuang opened #1953 "Option to output node labels in node ls format"
**Description**

The `docker node ls` command takes a `--format` option to customize the output. My nodes are labeled with metadata like the availability zone and node group name. It would be really useful to be able to output labels when listing nodes.

**Steps to reproduce the issue:**

1. Attempt to output a list of nodes with foo labels.

[code]

**Describe the results you received:**

It is n

[2019-06-18 06:57] jacobseth commented on #1922
Hey there, could I have a go at this?

[2019-06-18 07:40] liranmauda opened #1954 "Docker wait command should exit with the container exit code"
**Description**

`docker wait` should exit with the container exit code.

When we are using `docker wait` it's exit status is equal to 0 and not to the containers exit status.

**Steps to reproduce the issue:**
1. `$ docker run -d --name test my_image`
a92fdad61acb3e27a809231338ec13dcfbe742bf2b38935c6dc50f097685beab
2. `$ docker wait test`
1
3. `$ echo $?`
0

**Describe the results you received:**

[2019-06-18 10:20] thaJeztah commented on #1922
@jcsirot did you already have a json-schema created? ^^

[2019-06-18 12:47] jcsirot commented on #1922
Well, I don't know. Maybe you wanted to ask @jdrouet :-D

[2019-06-18 14:28] kinghuang opened #1955 "Difficult to execute commands when currentContext is invalid"
**Description**

If the current context is not valid, it is not easy to run any CLI commands, including switching to a valid context.

**Steps to reproduce the issue:**

Assume there are contexts named `default` and `context-two`.

1. Make `context-two` the current context.
2. Set `DOCKER_CONTEXT=default` to override it in the current shell.
3. Remove `context-two`.
4. Attempt to do something with

[2019-06-18 15:22] christopher-coffin commented on #952
This still seems to be an issue

[2019-06-19 07:29] pwagland commented on #538
Another use case for automating docker pull.

We have a nightly job that does a pull/retag/push of a bunch of images. Currently there are two typical reasons that a pull might fail in our environment:

1. The docker host runs out of disk space, or
2. The registry server is being bounced.

In the first case I would like to do a system prune to clear up disk space, and then retry, in the second case

[2019-06-19 13:21] silvin-lubecki opened #1957 "Running an experimental plugin with non experimental CLI should show a friendly message"
**Description**
Running an experimental plugin with non experimental CLI should show a friendly message.
The code seams to be [here](https://github.com/docker/cli/pull/1898/files#diff-265afb51869adb4ecbb47af486fa36faR188) already, but something is short-circuiting it.

**Steps to reproduce the issue:**

Wrote some e2e tests in `e2e/cli-plugins/run_test.go`:
[code]

[code]

**Additional environment

[2019-06-19 13:29] thaJeztah commented on #1957
/cc @tiborvass @andrewhsu

[2019-06-20 06:00] kevincantu commented on #1559
@adnilsson and @tonistiigi this really helped me!  I had the wrong name just now, too! 😹

[2019-06-20 10:11] thaJeztah commented on #1955
Thanks for reporting; @silvin-lubecki and I are looking into this.

As you describe; setting `DOCKER_CONTEXT=default` should override whatever is configured in `config.json`, so it should not hit the faulty context.

I _think_ what might be happening (without looking in the code; just a first thought), is that when selecting a context, some code is doing a "get all available contexts" _before_ sel

[2019-06-20 10:28] thaJeztah commented on #538
Also see https://github.com/docker/cli/issues/1683

[2019-06-20 18:31] carlosen14 opened #1962 "Port out of bounds gives error 'invalid publish opts format'"
**Description**

When run with a port out of bounds throws wrong error saying about options format instead of say port does not exist, or something related.

**Steps to reproduce the issue:**
1. run `docker run -it -p 80801:80 --rm nginx:1.17.0-alpine /bin/sh`

**Describe the results you received:**
docker: invalid publish opts format (should be name=value but got '80801:80').
See 'docker run --he

[2019-06-21 14:51] thaJeztah commented on #1962
Thanks for reporting; I see where the problem is, but it looks like it needs some refactoring;

The current code first attempts to parse the `-p` / `--publish` using the shorthand notation (`-p 8080:80`); https://github.com/docker/cli/blob/2432af701a7973ea582196b4b9488831156f3458/cli/command/container/opts.go#L384-L387

If that parsing fails, it _assumes_ it's because the user used the advanced/lo

[2019-06-21 15:21] silvin-lubecki commented on #1955
Hello @kinghuang I was trying to reproduce the issue you described, but without luck 😞
[code]

[2019-06-21 16:54] precious-coder commented on #1488
No, it isn't.

There is no command whatsoever which fixes the issue.

[2019-06-21 18:05] apiotrowski312 commented on #1962
I would like to try fix this issue.

[2019-06-23 11:09] apiotrowski312 commented on #1909
I tried to figure out what was the problem and I find that, the request send with `docker service ls --filter name=XXX` looks okay. I'm guessing it's not a CLI problem itself, more like request not returning what it should.
 You can find it in `vendor/github.com/docker/docker/client/service_list.go`.

 Am I right?

[2019-06-24 06:11] bifkit opened #1966 "Commands hang with no output"
**Description**
After installing Docker EE via the [official directions](https://hub.docker.com/editions/enterprise/docker-ee-server-windows) on a shiny new server running Windows Server 2019 (1809), I cannot successfully execute certain commands. The process begins, but then hangs silently, producing no output, logs, or any other useful information.

**Steps to reproduce the issue:**
1. Install D

[2019-06-24 08:29] silvin-lubecki commented on #1909
Hello @apiotrowski312 , thank you for filling this issue 👍
The filter you use won't work as you expect, as it [matches names with prefix](https://github.com/docker/swarmkit/blob/88dcc0f02df4c3b2419a84d204a8129b3231a55c//manager/controlapi/common.go#L47).
So `mariadb` won't match `stack1_mariadb_testdb`, but `stack1_mariadb` will.
As the services created using `docker stack` have their name prefixe

[2019-06-24 08:29] #1909 closed

[2019-06-24 16:09] thaJeztah commented on #1847
@simonferquel any ideas?

[2019-06-24 16:12] ddebroy commented on #1966
@bifkit Do the events log (System and Application logs specifically) show anything interesting around Docker when you hit this condition?

[2019-06-24 16:14] thaJeztah commented on #1632
Yes, this doesn't look like a bug; closing

[2019-06-24 16:14] #1632 closed

[2019-06-24 16:17] thaJeztah commented on #1930
looks like a duplicate of https://github.com/docker/cli/issues/958, and being worked on in https://github.com/docker/cli/pull/1221

[2019-06-24 16:17] #1930 closed

[2019-06-24 17:00] bifkit commented on #1966
@ddebroy I haven't gone through those logs yet, but I do have an update.

During my uninstall/reinstall frenzy, I noticed that the uninstall process reported that a network was removed. I definitely didn't create any networks via docker, but the name of the network seemed familiar.
Apparently, I had created a virtual switch in the Hyper-V management console, but I had never configured anything. Af

[2019-06-24 22:07] thaJeztah commented on #1696
Yes, looks like Go on Windows just does not take actual permissions into account, so it'll be `0444`, `0666` or `0777`; https://github.com/golang/go/blob/go1.12.6/src/os/types_windows.go#L112-L134

[code]

I'll open a PR to skip that check on Windows

[2019-06-24 23:12] thaJeztah commented on #1858
/cc @justincormack @estesp

[2019-06-24 23:53] collin5 commented on #1780
Will take a crack at this in the next couple of days.

[2019-06-25 07:30] agarwalanirudh opened #1969 "Issue with Dockerode and Content Trust"
**Description**

A little off thread, maybe.
But does anyone know about Dockerode (Node.js module for Docker's Remote API)?

I am using this module and we recently started signing our docker images.
I tried to enable DOCKER_CONTENT_TRUST for the environment, but it just doesn't seem to work.

**Steps to reproduce the issue:**
1. I set DOCKER_CONTENT_TRUST=1, in the environment variable.
2. I use d

[2019-06-25 13:41] #1854 closed

[2019-06-28 10:40] ethomson opened #1975 "[Proposal] docker image is up-to-date command"
Spinning this out of #538, one of the requests was to have return codes for `docker pull` such that a user could determine whether the image _was already_ up-to-date (and nothing was done) or the image was outdated, and `docker pull` did work and updated the image.

I would argue that an end-user would want a successful return code in each of these instances (and that `docker pull` should return `

[2019-06-28 13:33] cpuguy83 commented on #1975
This can't really be done.
There is nothing that says that one image is newer than another.
As a registry consumer you could implement this by convention, such as making your tags semver, for example. But it doesn't really make sense in the cli itself.

[2019-06-28 13:48] ethomson commented on #1975
Sure, I care literally not at all about the _date_ of a thing.  What I want to know is:  would `docker pull` do work or not.  Apologies if that was unclear.

[2019-07-01 14:21] rubdos commented on #538
Ack. Maybe `docker pull` could have an option that sets status codes for (2) and (3). I feel like there's still people that want it.

Fair point, although `docker pull [image] --extended-exit-codes` would feel like a very cheap way to avoid calling APIs.

[2019-07-01 18:09] tiborvass commented on #1938
@tao12345666333 i'm curious to know what the usecase is for relying on the failure.

[2019-07-01 19:24] thaJeztah commented on #1938
@tiborvass the problem looks to be that a user has a `.dockerignore`, but the CLI doesn't have permissions to read it, and then continues the build _without_ using the `.dockerignore` instead of failing the build

[2019-07-02 00:28] tao12345666333 commented on #1938
yep. when I build image without buildkit enabled, it will failed and return permission denied.

[2019-07-02 07:36] AkihiroSuda commented on #1534
The issue is closable?

[2019-07-02 16:57] strajansebastian commented on #625
example of deleting all builds except last 2 for each kind of image (the image kind is based on the Repository value.

If you want to preserve just last build modify to ```tail -n+2```.

[code]

I find it useful to keep the space usage and build time low by preserving the last cached layers for next builds.

[2019-07-03 03:27] johl-moto commented on #1630
+1 this would be a useful addition.

[2019-07-03 12:11] unglaublicherdude commented on #1372
+1 from me as well. We have a Swarm with thousands of containers running and some networks are basically used in every deployed stack for most services.

We have sometimes the case, that the network where all the traffic is in (because of the problem mentioned here), just doesn't respond anymore when at the same time, the communication via the stacks default networks works just fine. This is a rea

[2019-07-03 12:46] UltWolf opened #1977 "Unable to use COPY --from , docker build trying to pull image"
**Description**
I have a Dockerfile like this:

[code]
and when i`m run COPY --from=build-env /app/out/ . i have been get the error:
invalid from flag value build-env: pull access denied for build-env, repository does not exist or may require 'docker login'

**Steps to reproduce the issue:**
1. Run docker version 18.09.2
2. Create docker file with above contents
3. Run docker build .

**Describe t

[2019-07-03 13:25] thaJeztah commented on #1977
Looks like your `COPY --from` is in the same build stage; it's still inside the `build-dev` stage

[2019-07-03 13:28] thaJeztah commented on #1977
You probably want to add a new `FROM` above the second `WORKDIR` to start a new buildstage for the final image.

I'll close this issue, because I don't think there's a bug here, but feel free to continue the conversation

[2019-07-03 13:28] #1977 closed

[2019-07-03 20:13] fosslou opened #1980 "Need docker search to allow for specification of platform in search criteria"
the docker search command should allow for the specification of --platform or allow the specification of the platform in the -f filter parameter.

**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker versi

[2019-07-04 08:24] LaurentTrk opened #1981 "Stack deploy with volume overriding fails"
**Description**

We are trying to deploy a stack with 2 docker-compose file, the second one overriding volume settings.
The `stack deploy` command fails with a `reflect.Value.Set using unaddressable value` error.

**Steps to reproduce the issue:**
1. Create `docker-compose.yml` file with the following content:
[code]
2. Create `docker-compose.override.yml` file with the following content:
[code]
3

[2019-07-04 09:14] theycallmemac commented on #1679
I can do the work for this.

[2019-07-04 10:05] UltWolf commented on #1977
But why then build on the https://circleci.com is okay?
![изображение](https://user-images.githubusercontent.com/18503527/60658619-3da64f00-9e5c-11e9-9a68-2e592539564f.png)
Info docker:
[code]

It`s can be problem in machine or windows?

[2019-07-04 11:36] LaurentTrk commented on #1981
Seems to be related to [this opened issue](https://github.com/imdario/mergo/issues/90) on [Mergo](https://github.com/imdario/mergo).

[2019-07-04 13:30] thaJeztah commented on #1977
Hm interesting; I can confirm it worked on Docker 17.09, but that's not by design: the `build-env` stage is not finished yet at that point, so cannot be referenced, in which case `--from=build-env` should be looking for an image reference by that name.

Older versions of Docker failed to detect this situation, and just went ahead. Docker 17.09 seems to use `build-env` as "everything we did so far

[2019-07-04 14:21] zied-guesmi opened #1982 "docker build command causes "free(): invalid pointer" message"
`docker build` command causes "free(): invalid pointer" message.

**Steps to reproduce the issue:**
1. create any dockerfile
2. execute docker build -t <name> .

**Describe the results you received:**
Complete logs:
[code]

**Describe the results you expected:**
It should build the image without errors or warnings
[code]

**Additional information you deem important (e.g. issue happens only occasio

[2019-07-04 14:30] thaJeztah commented on #1982
Looks like an issue with a credentials helper that is installed (see https://github.com/docker/docker-credential-helpers/issues/104, https://github.com/docker/docker-credential-helpers/issues/23, and https://github.com/docker/docker-credential-helpers/pull/29)

This should be fixed in v0.6.2 of the credentials helpers; https://github.com/docker/docker-credential-helpers/releases/tag/v0.6.2

[2019-07-04 18:02] ap3xx commented on #1136
@Titom222 Works for me. Thnx! +1

[2019-07-05 08:16] #1696 closed

[2019-07-05 09:07] UltWolf commented on #1977
Oh, but Windows doesn`t support this function.
https://github.com/moby/buildkit/issues/616
That`s very sad.
Thanks for your help, and detailed answers.

[2019-07-05 09:31] thaJeztah commented on #1977
Correct, BuildKit is unfortunately not yet supported on Windows, but for this Dockerfile to work, it's not needed; if you intended to make a multi-stage build,  you need to add a`FROM` line

[2019-07-05 09:33] thaJeztah commented on #1977
Well, BuildKit is not supported for Windows containers/images; I see you're running docker desktop with Linux images;

    Kernel Version: 4.9.125-linuxkit

So buildkit should work

[2019-07-05 20:10] bartolone opened #1986 "Feature request: better error message for 'docker create network' and other similar incorrect patterns"
**Description**

When trying the (incorrect) command `docker create network ...` the user receives a potentially unhelpful error message: `Unable to find image 'network:latest' locally` (this also applies to config, container, plugin, secret, service, and volume in addition to network). This error message is unintuitive if the user is attempting to create a network and does not redirect them to th

[2019-07-05 20:49] cpuguy83 commented on #1986
Makes sense, though error message maybe could be `error while creating container: <error>`

[2019-07-05 21:08] bartolone commented on #1986
I like that, since it makes explicit that what the user typed is the container creation function, when they meant to create a network (or something else).

[2019-07-07 22:55] Drewster727 commented on #1403
I'm still running into this problem. My swarm masters are all linux (CentOS) and they have no idea how to deploy to windows nodes if I provide a windows volume bind path like so:
`services:
  app:
    image: app:latest
    volumes:
      - Z:\hostfolder:C:\containerfolder`

It also did not work for me if I changed it to:
`services:
  app:
    image: app:latest
    volumes:
      - /z/hostfolder:/c

[2019-07-07 23:13] mcadac commented on #1403
The volumes must be defined the verbose form and it must be the type "bind"

[2019-07-07 23:20] Drewster727 commented on #1403
@mcadac Thanks -- just tried that and still no bueno:
[code]

What am I missing?

[2019-07-08 08:07] theycallmemac commented on #1679
Just an update, this can work, but I've only gotten it to work by doing this in cli/command/container/stop.go

`Args:  cli.RequiresMinArgs(0),`

[2019-07-09 14:42] AkihiroSuda opened #1988 "docker run flag for overriding daemon default-cgroupns-mode"
The daemon now supports `--default-cgroupns-mode=(host|private)`: https://github.com/moby/moby/pull/38377

Some candidates for `docker run` flag name:

* `--cgroupns-mode=(host|private)`: consistent with `dockerd --default-cgroupns-mode=(host|private)`)
* `--cgroupns=(host|private)` : consistent with `docker run --userns=(host|"")`
* `--cgroup=(host|private)`: consistent with `docker run --uts=(ho

[2019-07-09 18:52] jeffb4 opened #1989 "docker build will fail silently if there is any problem in credHelpers"
**Description**

When `docker build` runs, it uses `configfile.GetAllCredentials()` to get a list of all possible (likely) credentials needed for the build context for the build to succeed. However, it discards any error state without alerting the user.

If any helper in `credHelpers` fails its `Get` call (from `GetAuthConfig`) it will result in a null auths structure being used for the build cont

[2019-07-10 21:27] thaJeztah commented on #1988
Wondering if `--cgroup` may be confusing (it's not really clear that it sets the namespace for cgroups). One more option could be `--cgroup-mode=(host|private)` (without `ns`)

@tiborvass @silvin-lubecki wdyt?

[2019-07-11 11:36] ay0o opened #1997 "Volume or container completion is broken in zsh"
**Description**
Completion does not work for volumes or container's id/names in ZSH

**Steps to reproduce the issue:**
`docker run -v <TAB>`
or
`docker exec -it `<TAB>`

**Describe the results you received:**
Nothing is completed

**Describe the results you expected:**
I expected to have a list of directories in the current path in the first case, or a list of containers in the second.

**Addition

[2019-07-11 12:32] #727 closed

[2019-07-11 13:55] Drewster727 commented on #1403
@thaJeztah I saw your merge! Thank you! When can we expect this to get released would you think?

[2019-07-11 14:30] thaJeztah commented on #1403
This will likely go out in the August patch release for 18.09, and included in either 19.03.0 or the first patch release for 19.03 (19.03.1). You should be able to download nightly builds of the CLI from download.docker.com later today or tomorrow (not sure at what time "nightly" is built 😂)

[2019-07-11 14:33] thaJeztah commented on #1403
Note that the fix will only address the "long" syntax; https://docs.docker.com/compose/compose-file/#long-syntax-3

The shorthand syntax (`-v C:\hostpath:C:\container-path`) won't be fixed by that PR; the shorthand syntax is unfortunately quite ambiguous, and fixing that is non-trivial (if possible at all).

[2019-07-11 16:57] #1234 closed

[2019-07-12 09:32] theycallmemac commented on #1586
@andrewhsu is this just awaiting documentation?

[2019-07-12 22:28] davidtabernerom commented on #267
I achieve this by using pipes with `echo` and `xargs`, but it really needs to be implemented, this only automate it, but the command is summoned each time.

If anyone wondering:
`echo 'repo/flavor:tag' 'repo/flavor:tag' 'repo/flavor:tag' | xargs -n 1 docker push`

[2019-07-14 23:02] caleb-adams opened #2004 "Find container by host port mapping"
It would be extremely useful to find a running docker container by host:container port mapping, not just the published container port.

Current Behavior:
[code]

Desired Behavior:
[code]

[2019-07-15 10:13] npu21 opened #2005 "How to debug docker cli"
**Description**

**Steps to reproduce the issue:**
1.tried docker --log-level=debug run -it busybox /bin/bash.
2.tried docker -D -d

**Describe the results you received:**
can only see
DEBU[0000] [hijack] End of stdout
**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**
docker 18.06
[code]

*

[2019-07-15 10:20] thaJeztah commented on #2005
This is not an issue in the CLI, so `--log-level=debug` won't give much more information about the problem. The reason that container fails is that the busybox image doesn't have `bash` installed, which is why you'll get an error

[code]

Try running it without `/bin/bash` as command (or use `/bin/sh`)

[2019-07-15 10:20] thaJeztah commented on #2005
Please keep in mind that the GitHub issue tracker is not intended as a general support forum,
but for [reporting bugs and feature requests](https://raw.githubusercontent.com/moby/moby/master/.github/ISSUE_TEMPLATE.md). For other type of questions, consider using one of;

- the Docker Support Forums - https://forums.docker.com
- the [Docker community Slack channel](http://dockr.ly/slack)

I'm closi

[2019-07-15 10:20] #2005 closed

[2019-07-18 10:02] kosmosr opened #2010 "Why can't the container application thread be created?"
**Description**
I used the container created by the `openjdk-11` image, which runs the SpringBoot application, where I set the maximum thread of tomcat to **800**, in the container I got it by `ps -T -p <java-pid> | wc -l` The number is about 130, and then the pressure is measured by running **JMeter**. The number obtained by `ps -T -p <java-pid> | wc -l` is still about 130.
I don't use the contai

[2019-07-18 10:21] ehipp-altair opened #2011 "docker build --pretend to know whether a build will use the cache without actually building it"
I would like to know in advance whether a docker build command will use only the cache or whether it will run some ADD or RUN commands.

That command would show approximately the same output as the docker build command, except it would not actually build the container.

For example, if I have the following Dockerfile :

[code]

If I run `docker build --pretend` with an empty cache, it would show :

[2019-07-18 16:32] sergeykitchen commented on #1136
@Titom222 It works! Thanks!

[2019-07-18 18:37] kdubuc commented on #1490
I'm just experimenting this.
When I ran "docker push REGISTRY:5000/IMAGE" first time, I get some "Layer already exists", and "Retrying in X seconds" a lot. My bandwidth is low, so i can explain this. But, the second time I ran the command, all layers was pushed in a second. Strange behavior.

[2019-07-19 06:10] kosmosr commented on #2010
My network issue
closed

[2019-07-19 06:10] #2010 closed

[2019-07-19 08:33] zied-guesmi commented on #1982
Ok, I'll check the links. Thank you!

[2019-07-19 08:33] #1982 closed

[2019-07-23 14:03] solvingj commented on #1534
So, I found this list of CLI plugins in a PDF from dockercon, but can't find a proper web page which holds a similar listing anywhere.  Furthermore, I can't figure out how to find documentation for several of these plugins. Googling `docker cli plugin jump` and `docker cli plugin pipeline` isn't enough.

So, I would suggest discussing the discoverability model in this issue before closing.  I know

[2019-07-24 04:20] anhducbkhn commented on #1136
@Titom222 It works! Thanks

[2019-07-24 14:31] Drewster727 commented on #1403
@thaJeztah I had another related question to this issue. Will your merge also resolve cross-platform service creation with **npipe** mount type?
For example, I have a linux (centos) master, and I want to create a service that only runs on my windows platform nodes:
[code]

Using 19.03, from a linux manager node, it seems to complain about the mount path:
` invalid mount config for type "npipe": in

[2019-07-25 06:44] zafarella opened #2017 "Less verbose logging"
### Feature request
Consider less verbose logging on the `docker` cli (flag `--quiet , -q`):
* `run`
* `pull`
* other applicable commands

As for example you don't really require to see progress of downloading or building image, sometimes you also don't need output of `docker run.

Consider making the cli less verbose (like `docker build` have), but providing only vital info and printing out error

[2019-07-26 09:55] JeremyRuffell commented on #1136
Worked for me <3 thanks bro

[2019-07-29 13:25] andilabs commented on #1136
On Ubuntu Ubuntu `19.04`

`apt install pass`

does a trick for me.

[2019-07-29 14:41] dpkirchner commented on #1318
The documentation says:

However, the linked upgrading guide simply says that the group_add feature has been removed (at least in so far as it being unavailable as a stack), without providing an alternative. Is there an alternative that doesn't require modifying the image's Dockerfile?

[2019-07-30 04:49] rgulewich commented on #1988
@AkihiroSuda / @thaJeztah / @tiborvass @silvin-lubecki - took a quick swing at this here: https://github.com/docker/cli/pull/2024

Please give it a look!

[2019-07-30 14:23] findepi opened #2025 "docker exec's "executable file not found in $PATH" should go to stderr"
**Description**

When `docker exec` cannot find an executable it prints an error. This error should go to standard error (stderr).

**Steps to reproduce the issue:**
1. `docker run -d --name ubuntu ubuntu sleep 5m`
2. `docker exec -i ubuntu somethingsomething` (prints `OCI runtime exec failed: exec failed: container_linux.go:344: starting container process caused "exec: \"somethingsomething\": exe

[2019-07-30 14:24] findepi commented on #2025
(Apologies if this is a duplicate issue. `OCI runtime exec failed: exec failed: container_linux.go ...` is a popular phrase so hard to search for)

[2019-07-31 09:20] dpiquet commented on #1372
+1 ! This is also an issue for us. Also using traefik.

[2019-07-31 13:38] PiotrPerak commented on #1672
![image](https://user-images.githubusercontent.com/789129/62216572-4467a980-b3a9-11e9-99f8-7fbb30370297.png)
Does this mean it is resolved now?

[2019-07-31 13:48] flikkes commented on #1372
+1 ! as this is also an issue for us. We'd like to be able to rely on the order the networks IP addresses are added to /etc/hosts so we can use the first address as a default for certain configuration parameters. So being able to rely on the first network in the list being actually treated as the first one would be great!

[2019-07-31 20:48] Downchuck commented on #1203
Seems like this one got dropped on contributor agreement -- otherwise looks like an easy one to get through.

[2019-08-01 00:12] prankymat commented on #1203
Would highly appreciated if there’s any updates regarding this issue.

[2019-08-01 03:08] Downchuck commented on #1203
@prankymat looks like it failed the automated tests on a rw label

[2019-08-01 14:24] dmduggan opened #2027 "CLI 19.03.1 does not support HTTP_PROXY/HTTPS_PROXY variables."
**Description**
CLI 19.03.1 does not support HTTP_PROXY/HTTPS_PROXY variables.

**Steps to reproduce the issue:**
1. Set DOCKER_TLS_VERIFY=1, DOCKER_HOST, DOCKER_CERT_PATH, HTTP_PROXY, HTTPS_PROXY environment
2. Run `docker version`

**Describe the results you received:**
Cannot connect to the Docker daemon at tcp://myswarm.com:2376. Is the docker daemon running?

**Describe the results you expect

[2019-08-02 14:51] sairepaka commented on #1136
thanks timtom...it worked for me too :)

[2019-08-02 15:01] Dalez commented on #1136
Installing gnupg2 and pass didn't work for me either, but this did, thank you!

[2019-08-02 22:16] Drewster727 commented on #1403
@thaJeztah when you get a chance! Looking for some info on the above. Thank you!

-Drew

[2019-08-04 09:15] mehrdad-abdoli commented on #1136
@Titom222 Worked for me too :)

[2019-08-05 02:32] wanghuaiqing2010 opened #2029 "making docker-ce to support the mips64le platform"
I have made docker-ce to support the mips64le platform and have completed testing of basic features. Can I contribute my code to the community?

[root@localhost cli]# docker info
Containers: 6
 Running: 0
 Paused: 0
 Stopped: 6
Images: 1
Server Version: 17.12.1.ce
Storage Driver: overlay2
 Backing Filesystem: extfs
 Supports d_type: true
 Native Overlay Diff: true
Logging Driver: json-file
Cgroup

[2019-08-05 08:22] thaJeztah commented on #1403
@Drewster727 hm.. could it be that if you're running that from a Linux command-line, that the shell treats the `\` as an escape character, so

[code]

will be  converted to

[code]

Trying the following (I don't have a Windows node, but just to test the escaping idea);

[code]

Inspecting the service spec (output formatted with `jq` for readability):

[code]

[code]

Which confirms that both the `

[2019-08-05 11:25] stephenheron opened #2030 "links are only supported for user-defined networks - Inconsistency"
**Description**
I am seeing a little bit of an inconsistency when attempting to use the --link option with docker run. If I run the command below then everything works as expected:

`docker run --name myadmin -d --link mariadb:db -p 8083:80 phpmyadmin/phpmyadmin`

however if I use the --network option with the default option of "bridge":

`docker run --name myadmin --network="bridge" --link mariad

[2019-08-05 13:50] pcgeek86 commented on #1136
@Titom222 Thanks for the help! I had the same issue on an Ubuntu VM that I spun up using Canonical's `multipass` tool.

[2019-08-05 14:34] Drewster727 commented on #1403
@thaJeztah I'm not sure why I didn't try the double slashes. I thought I had tried it, but that did the trick.
[code]

Hopefully this helps someone else in the same situation.
Thank you!
Drew

[2019-08-05 15:06] gsexton opened #2031 "docker trust key load fails without error on invalid file."
**Description**
Using the command docker trust key load will fail but indicate "Successfully imported key from ..."

**Steps to reproduce the issue:**
1.  Create a delegation key using the command: docker trust key generate key-name
2.  Copy the newly generated private key file from ~/.docker/trust/private to a new user account or new machine.
3. Execute the command: "docker trust key load --name

[2019-08-05 15:13] marckassay opened #2032 "Consistent usage of CLI options"
For an example, in the [docker run](https://docs.docker.com/engine/reference/commandline/run/) doc there are various usage of the `-i` and `-t` option/flag/switch:
[code]
I _assume_ combining/concatenating them or not, in any order has no consequence? If that is the case, combined them in order and position them consistently.
[code]
Perhaps all options that require no value immediately following t

[2019-08-05 16:54] thaJeztah commented on #1403
haha, no worries! I also had to scratch my head a few times before I saw what's happening.

The single quotes are probably a bit easier to use, and might work cross-platform (linux/windows) but haven't tried on a Windows machine

[2019-08-06 10:05] lovewuqiang opened #2379 "docker swarm deploy a service，the docker images tag is none"
docker swarm version：18.06.3-ce
centos kernel：centos 7 —5.2.6-1.el7.elrepo.x86_64

[code]

[code]

Look,the image tag is none..why????

[2019-08-06 19:07] eiffel-fl opened #2034 "Enhancement: Curses-like printing for docker stats thanks to tcell"
Hi everyone.

I wrote some code to bring `docker stats` the ability to display stats in a curses-way.
I use [tcell](https://github.com/gdamore/tcell) to do it.
To use the new feature you just need to run `docker stats --tcell`.

The code compiles and works since stats are displayed.
If a new container is launched while stats already run the new stats are added to display (like with classical displ

[2019-08-07 13:19] AutoTesting01 opened #2036 "Cannot access container started in a node process until the process is exited"
I created a container using docker-cli-js in a node process, but got `ECONNREFUSED connect` error message when trying to access it from within the same process.

However, after exiting the process, I was able to access the container. Is this expected a behaviour. Is there away I can access the container from the same node process that started it?

[2019-08-07 15:01] AutoTesting01 commented on #2036
It appears I simply tried to access it too quickly. Now resolved but waiting a bit before trying to access the container

[2019-08-07 15:01] #2036 closed

[2019-08-08 18:43] AkihiroSuda opened #2038 "Add "-s" as the shorthand form for "--security-opt""
I suggest adding "-s" as the shorthand form for "--security-opt" so as to encourage people to use more hardened security-opts like `-s no-new-privileges -s apparmor=some-strongly-confined-profile`

[2019-08-08 19:04] AkihiroSuda commented on #2011
This should be discussed in https://github.com/moby/buildkit/issues

[2019-08-11 07:23] devmishrs opened #2039 "Failed to start Docker Application Container Engine. dockerd is not starting up."
**_I'm Not bale to start Docker deamon on my system_**. I've tried a lot
While running this command `sudo /usr/bin/dockerd -H unix:// -H tcp://0.0.0.0:2736`
**Error is :**
[code]
**Docker Service status is:**
`systemctl status docker.service`

**Output:**

[code]

**Docker version:**
[code]

**System info:**
[code]

[2019-08-11 07:48] ehipp-altair commented on #2011
Ok, I'm closing this and opening it in buildkit

[2019-08-11 07:48] #2011 closed

[2019-08-13 12:49] jantman commented on #2030
I can confirm this issue. I have zero user-defined networks:

[code]

If I attempt to ``docker run --net bridge --link graphite [...]``, the run command exits 1 with a message of ``links are only supported for user-defined networks.``.

If I just remove ``--net bridge`` from the run command, it succeeds, the container is running and successfully linked, and still using the (default) ``bridge`` net

[2019-08-13 23:38] MrAlfabet commented on #1318
This would be incredibly useful for media server containers.

[2019-08-14 13:08] pcellix commented on #2030
I want to work on that one
Can someone assign me? :)
Thank you!

[2019-08-14 15:33] tazjin opened #2047 "Display sensible values if image creation date is unspecified"
**Description**

Services that build content-addressable images (such as [Nixery](https://nixery.dev) or Bazel's [rules_docker](https://github.com/bazelbuild/rules_docker/)) do not populate the "image creation date" field in image metadata. This is an intentional choice to create reproducible images.

The Docker client displays these images as being 292 years old, which is misleading. It should in

[2019-08-15 21:22] jethrogb commented on #942
I'm seeing something similar with
[code]

Here's what Docker reports:
[code]

Here's the actual disk usage:

[code]

[2019-08-15 21:28] cpuguy83 commented on #942
The "vfs" dir has nothing to do with build cache.
It sounds like you are using the vfs storage driver which consumes a lot of space since it copies everything (no layering supported).
There may be extra data in there from failed removes (which in the past were silently ignored).

@jethrogb
Indeed `docker system df` only takes into account container fs size and not ancillary things such as log data

[2019-08-15 21:36] jethrogb commented on #942
@cpuguy83 yup, logs were it in my case, thanks! I think docker should show this. I guess this is https://github.com/moby/moby/issues/32205

[2019-08-15 21:52] cpuguy83 commented on #942
@jethrogb Agreed and yep!

For the OP's issue of having extra layer dirs lying around, on moby master there is a garbage collector which runs on daemon start which removes these unreferenced layers.
This is not in the most recent release (19.03), though there is some discussion on backporting it here: https://github.com/docker/engine/pull/268

Going to close this one as a non-issue.

[2019-08-15 21:52] #942 closed

[2019-08-16 01:50] skanehira opened #2049 "Feature Request: Add TUI interface to operate resources more easily"
**Description**
I think if docker have a TUI(Text User Interface)  interface, It's be more useful.
So I developed the TUI client for docker it's name docui.
I think that will be more useful to incorporate docui into the standard CLI.

https://github.com/skanehira/docui

What specifically is useful?
e.g pull, search, delete image and create, start, stop, delete a container and more resources.

**St

[2019-08-16 12:15] Zyqsempai commented on #2038
I can take care of this one!

[2019-08-17 08:59] fredleger commented on #1285
still no fix for that. when most of recommendations are saying to us to never run any container as root this is clearly a NO GO for any container needing a tmpfs.

[2019-08-17 22:19] clauderobi commented on #1631
This ticket https://github.com/docker/cli/issues/1358#issue-358534205 was also having a similar issue and apparently was fixed.

docker create do honour --insecure,  as it succeeds at getting info from the registry for the non-local images.

So, this behaviour with push is wrong; based on the subcommands, it does not appear that the intent is to only work with TLS protected registry (self signed o

[2019-08-19 17:16] nartamonov commented on #720
Fix is very needed. In our case we scale service to zero replicas in order to do database migration inside CD pipeline. So it must be scaled down synchronous before migration runs. Currently that scenario is impossible with 'scale' command, you should write ugly custom script.

[2019-08-20 13:53] yaunj commented on #2027
Any chances for a fix for this bug in 19.03.2?

[2019-08-20 23:00] llyons opened #2055 "Does Docker WIndows support volume mapping of files or just directories."
**Description**

**Steps to reproduce the issue:**
1. create a basic service website service image with /app as the IIS app folder
2.try to run image mounting a volume mapping    docker run -d -v C:\directory\filename:/containerdir/filename  imagename
3.

PROBLEM SUMMARY

Does Docker Windows support a FILE volume mapping?

Example

docker run -d -v C:\directory\filename:/containerdir/filename  ima

[2019-08-20 23:05] thaJeztah commented on #2055
no, Windows unfortunately doesn't support that (Windows itself cannot do this, so not something we can fix in Docker)

I'll close this issue, but feel free to continue the conversation

[2019-08-20 23:05] #2055 closed

[2019-08-21 01:13] llyons commented on #2055
So the mapping of the folder is supported  but not the file.  Ok that make sense.  I do think there are symbolic links with mqlink that does support something similar but for now I understand why its not supported.   This is something supported on the linux platform so docker desktop on linux does support this file mapping via the -v switch.

[2019-08-21 13:12] charlesritchea opened #2056 "docker build --rm=false is still removing intermittent containers"
When I first installed docker on ubuntu and before I added my user to the docker group, when I ran with `--rm=false` the intermittent containers were still being removed unless the build failed. After adding myself to the docker group and restarting and also using `--rm="false"` then the expected behavior of persisting intermittent containers was observed. Any insight into why this would be incons

[2019-08-21 14:32] mviereck commented on #1200
- It seems that the `--gpus` option is tied to NVIDIA hardware only and fails with other GPU vendors.
 - It seems that the `--gpus` option is tied to NVIDIA docker images only and fails with other images.

Am I right? If yes, this new option is a vendor-lock-in and a shame.
Please add GPU support for all GPU vendors. Seriously.

[2019-08-21 18:46] RenaudWasTaken commented on #1200
Hello @mviereck !

The --gpus option is implemented more as a plugin than as a "vendor-lock-in". For exemple it doesn't work until you install the nvidia-container-toolkit (in other words the nvidia plugin).

We have plans to make it more like other plugins (docker plugin install), so that it's easier for everyone to build their own plugins. So far we have lacked time to do so. If you want to help

[2019-08-22 10:36] thaJeztah opened #2058 "service create/update doesn't detect single-value advanced syntax"
**Description**

The `--secret` and `--config` flags accept both a "basic" and "advanced" (csv / option=value) syntax.

Docker fails to detect the "advanced" syntax if there is no comma in the options passed, and as a result, attempts to use `option=value` as name for the secret.

**Describe the results you received:**

1. Create a config and a secret:

[code]

2. Create a service that uses the co

[2019-08-22 14:16] marcospds commented on #1136
sudo apt-get remove docker-ce docker-ce-cli containerd.io
sudo snap install docke

[2019-08-22 17:10] #2027 closed

[2019-08-22 18:36] binman-docker opened #2062 "Change default network behavior"
**Is your feature request related to a problem? Please describe.**
When we deploy a compose file into Docker UCP, with services that only use mode:host ports, Compose creates a default network, and tries to do so in the user's default collection (which is their private collection).

By default in UCP, a user does not have network create permissions on their private collection, because you may not

[2019-08-22 20:30] thaJeztah commented on #2062
With `mode:host`, you mean host-mode _port_ publishing, correct (so not the `host` networking namespace). Wondering do these services not connect to anything else? (IOW, they're standalone services, and don't depend on other services?).

I'm a bit on the fence on changing the behavior based on host-mode port publishing;

- services with host-mode publishing can still be connected to a network (for

[2019-08-22 20:39] binman-docker commented on #2062
Right, this one: https://docs.docker.com/engine/swarm/ingress/#bypass-the-routing-mesh

We talk to the services because they have a port assigned to them on the host (similar to how you can run a container with -p <someport>:<containerport>). We then use HAProxy to route to them. This bypasses needing to use swarm mesh.

In which case the user would simply specify the network to be created

For su

[2019-08-23 12:50] ingshtrom commented on #2062
related documentation issue => https://github.com/docker/docker.github.io/pull/9064

This related to the second workaround, which is to create a "dummy" network and label it so that it lands in the correct collection.

[2019-08-23 14:20] mviereck opened #2063 "Option --gpus failes with AMD and Intel GPUs"
**Description**
New option `--gpus` to provide the GPU to containers failes with AMD and Intel GPUs.

It is specific to systems with NVIDIA GPU and NVIDIA's proprietary driver and NVIDIA's
container runtime setup.

A cli option should be general and not be vendor-specific.

**Steps to reproduce the issue:**
On a system with an AMD GPU:
[code]

**Describe the results you received:**
Option `--gpus

[2019-08-23 14:24] mviereck commented on #1200
@RenaudWasTaken Thank you for your friendly response!

I am not experienced in Go, so I cannot contribute code directly, sorry.
I have opened a new ticket on this topic with some proposals, maybe you want to look at it, too: #2063

[2019-08-23 17:44] tiborvass commented on #2063
@mviereck thanks, it was always meant to be vendor-neutral. If you want to contribute to the moby/moby repo to add support for other GPU vendors, you are more than welcome! We would need expertise from the various GPU vendors which I don't have. @RenaudWasTaken was providing NVIDIA expertise hence the first implementation.

[2019-08-23 20:11] mviereck commented on #2063
Thanks! I am not experienced with Go, though, so I cannot contribute directly with code.
However, I have some experience in providing GPUs of all vendors to docker containers.
My project [x11docker](https://github.com/mviereck/x11docker) allows to run GUI applications in docker containers, optionally with GPU hardware acceleration.

This works quite well with MESA drivers on host and in image, eve

[2019-08-24 10:16] fatihyildizhan commented on #1136
If you are using Ubuntu 19.04, try this. Worked for me.
Thanks

[2019-08-24 20:52] mihaifm opened #2065 "Feature request: make "docker secret create" more secure when reading from stdin"
`docker secret create` can read from stdin when using the dash option:

     printf "top secret" | docker secret create -

or

    docker secret create -
    top secret (type the secret, press Ctrl-D)

This is insecure, as the secret is displayed in the terminal (and is also saved in the shell history in the first case).

I would suggest adding a new option, let's say `-i` (interactive), where you

[2019-08-26 09:01] shlliu opened #2067 "docker run with -t option lead to "open /dev/ptmx: no such file or directory" message"
**Description**
docker run with -t option lead to "open /dev/ptmx: no such file or directory" message

**Steps to reproduce the issue:**
1.  Run: docker run -it hello-world
2.
3.

**Describe the results you received:**
docker: Error response from daemon: OCI runtime create failed: container_linux.go:345: starting container process caused "process_linux.go:430: container init caused \"open /dev/ptm

[2019-08-26 09:04] shlliu commented on #2067
BTW, adding -v /dev:/dev option can workaround this issue, but I still want to know what exactly caused this issue.

[2019-08-28 04:45] smitaskamat commented on #538
Any update on whether docker commands [will] return extended-exit-codes ?

[2019-08-28 06:43] maheshshelke commented on #1136
Thank You

[2019-08-29 12:52] RazerM opened #2071 "timestamps don't work in docker system prune's 'until' filter"
**Description**

The [documentation for `docker system prune` on 19.03](https://docs.docker.com/engine/reference/commandline/system_prune/) states that the `until` filter supports timestamps, but it doesn't work.

**Steps to reproduce the issue:**
1. Run `docker system prune --force --all --filter "until=2006-01-02T15:04:05"`

**Describe the results you received:**

[code]

**Describe the results

[2019-09-02 12:01] nudgegoonies opened #2074 "Let "docker compose" start "docker-compose" and pass all additional arguments."
FEATURE_REQUEST:
Let "docker compose" start "docker-compose" and pass all additional arguments.

People are so used to docker and docker-compose commands and often have to use docker and docker-compose in parallel. This leads to lots of these annoying errors:
[code]

[2019-09-02 13:01] wilian746 commented on #1136
is work for me Tnks

[2019-09-02 16:29] thaJeztah opened #2075 "docker stack deploy doesn't interpolate env-files correctly"
When using an `--env-file`, lines that do not set a value (and do not have an `=`) should take their value from an environment variable with the given name. If the given environment variable is not set in the current environment, then the variable should not be set on the container.

In the following example, the env-file contains 4 variables;

1. `ENV_VAR1` has a literal value set in the env-file

[2019-09-03 15:38] Eksapsy commented on #263
It still doesn't work for me at least.
I tried `rm ~/.zcompdump*` as others suggested.
https://user-images.githubusercontent.com/9019120/64187498-63aa9880-ce79-11e9-94bd-42130fa038e2.png
As far as I'm concerned I dont have an incorrect zshrc syntax.
![image](https://user-images.githubusercontent.com/9019120/64187594-95236400-ce79-11e9-9f45-0e1d992368d5.png)
There is a docker plugin in my oh-my-zsh

[2019-09-03 15:47] brainplot commented on #263
@Eksapsy make sure you're on the latest version of oh-my-zsh and reboot the machine as soon as you delete your `~/.zcompdump` file. That's what I did!

Which version of ZSH are you running?

[2019-09-05 23:40] #1471 closed

[2019-09-07 13:41] Drewster727 commented on #1403
@thaJeztah thanks again for the fix for this, 19.03.2 works like a charm!

[2019-09-09 23:39] jonjohnsonjr opened #2082 "Reducing transitive dependencies of cli/config"
**Description**

I'd love to be able to use [`config.Load`](https://godoc.org/github.com/docker/cli/cli/config#Load) for parsing the docker config file and shelling out to credential helpers, rather than reinventing the wheel. Unfortunately, that package ends up pulling in a ton of seemingly unrelated dependencies, e.g.:

* github.com/sirupsen/logrus (biggest offender)
* github.com/containerd/cont

[2019-09-10 12:55] mrepka77 opened #2083 "Environmental variables are not passed to container properly"
**Description**

Environmental variables are passed to Docker container only if value is assigned directly in env file.
In case the env file contain the variable name and its value is assigned outside the file, but exist in the environment when running the container, such value is not passed to the container.

**Steps to reproduce the issue:**
1. Create env file ef:
$ cat > ef
FOO
BAR=rofl
FU_BAR

[2019-09-12 21:40] shahzzzam opened #2086 "Getting context from a bad remote encoded URL prints improper error message"
**Description**

If the remote URL is encoded, and if it errors out  - the printing of the formatted error message has a bug.

**Steps to reproduce the issue:**
1. docker build "https://abc.blob.core.windows.net/a7fdb8ba2b604fc39fff7719c9c0443c-ep4eeithl2/source/201909120000/0f806a98-9168-4d71-a50b-101d30d0712f.tar.gz?sv=2018-03-28&sr=b&sig=G4KHMAO3wRxhrTILu6c5YC%2B0IYwKiJqbfqHCgTcS4wA%3D&se=2019-

[2019-09-13 18:27] ievgenk commented on #1136
Thank so much, helped me when trying to login to remote Docker on AWS.
Using WSL2 Ubuntu 18.04

[2019-09-14 12:42] montao opened #2088 "Installation failed"
**Description**

**Steps to reproduce the issue:**
1.
2.
3.

**Describe the results you received:**

**Describe the results you expected:**

**Additional information you deem important (e.g. issue happens only occasionally):**

**Output of `docker version`:**

[code]

**Output of `docker info`:**

[code]

**Additional environment details (AWS, VirtualBox, physical, etc.):**

Win10 with Hyper-V was

[2019-09-14 20:32] rickmacgillis opened #2089 "[FEATURE] Upgrade to using GPG Keys like everyone else."
`docker login` is a VERY complicated process just to keep our login info out of a clear text file. Even following the multi-step article to use a password manager results in an hour's worth of work or more to figure out why it can't find `pass`, and I still haven't figured out why it can't find it when I just installed and initialized it. (HINT: the following does NOT work.)

[code]
So, let's look

[2019-09-15 05:03] saravana1992 commented on #267
Any news on this?

[2019-09-15 05:05] sj26 commented on #267
Abandon hope all ye who enter here.

I've had great success using [skopeo](https://github.com/containers/skopeo) which allows flexible manipulation of remote docker image registries, like re-tagging images on remotes without needing to push/pull locally, or pushing/pulling multiple images in parallel, etc.

[2019-09-18 01:50] arkodg opened #2092 "Add Support for com.docker.network.container_iface_prefix label"
Docker network already has support to change the custom interface container prefix from "eth" to a custom value using the com.docker.network.container_iface_prefix label . This needs to be documented

[code]

File: [engine/reference/commandline/network_create.md](https://docs.docker.com/engine/reference/commandline/network_create/)

[2019-09-18 01:55] FearlessHyena commented on #267
@davidtabernerom 's workaround fixes it :)
But hopefully this gets implemented in future

[2019-09-18 02:00] sj26 commented on #267
The problem with the workaround is you can't say "push exactly this version of this image to these names on the remote" — if you have multiple processes or threads on a machine then they can stomp on the tags before, while, or after they get pushed, so you may get tags on the remote which point to different images. :-(

[2019-09-18 11:18] thaJeztah commented on #2092
Pull request that implemented this feature is https://github.com/docker/libnetwork/pull/1667 (might provide more details)

[2019-09-18 16:58] theycallmemac commented on #2017
This open? I'm sure I can take it on

[2019-09-18 17:12] theycallmemac commented on #1586
@andrewhsu if this is just awaiting docs I can help

[2019-09-19 14:45] aristofun commented on #359
For example to run db migrations is so common scenario in modern web apps that i'm wondered why there's no single right way to do it in swarm stack out of the box.

Please consider implementing it 🙏

[2019-09-19 15:18] dm17 commented on #1308
And it relies on "export DOCKER_BUILDKIT=1" which I don't even know what it is... Why does it have to be so convoluted? There should really be one dockerignore file per docker build. And per docker build there is a dockerfile. The dockerfile and the dockerignore file should just have to be in the same directory. :(

[2019-09-20 07:19] edib commented on #1278
These suggestions do not work for version 19.03.
After updating  hostconfig.json with new value, I start the container but config returns to old value. And there is not shm in mounts dir.

[2019-09-21 05:43] sixeyed opened #2096 "Feature request: session-bound context"
`docker context use` is a great feature and way easier than setting environment variables, but it is machine wide.

With the `DOCKER_HOST` variable I can target different engines in different terminal sessions, but when I switch contexts that affects all my sessions.

It would be great to have something like `docker context use --session` which switches context just for the current session.

[2019-09-21 07:32] thaJeztah commented on #2096
I think the `DOCKER_CONTEXT` env var is meant for that

[2019-09-21 10:07] chansonzhang commented on #2039
I met the same problem just because that I misconfigured the docker.service in a conf file, by passing a param to docker that it can't recognize.
for detial, I write `-<parm_name>=<param_value>` which should be `--<param_name>=<param_value>` (lost a leading hypen).

though the true problem is naive, but I hadn't found that until I use `journalctl -u docker.service` to check the detail log. At the

[2019-09-21 19:04] isomorphisms opened #2097 "runc assembler errors: unknown pseudo-op"
On my first run to create any docker at all on the system.

[code]

[2019-09-21 22:32] posix4e commented on #1293
Any updates this would be very nice

[2019-09-23 09:39] dpenas opened #2378 "Docker stack deploys an incorrect image"
When I do this in one of my servers, one of the images of the docker-compose is not correct (it is an outdated image):

`docker stack deploy -c docker-compose.yml builder`

But when I change its name, for example by executing the following command, then it works fine:

`docker stack deploy -c docker-compose.yml whatever`

I think it has to do with caching, but I've tried removing all images, all c

[2019-09-23 20:38] dmcgowan commented on #2082
I looked at the `github.com/docker/docker/pkg/homedir` package and its dependencies. It seems a simpler minimal package would make more sense, there is a lot of other cleanup needed in the original. @tonistiigi and @tiborvass have similar dependency chain concerns.

[2019-09-23 20:53] tiborvass commented on #2082
I can have a stab at this, I agree this is overly complex.

[2019-09-24 07:30] #2096 closed

[2019-09-24 12:33] gpapin commented on #1203
You can always use replace `.` by `$(pwd)` to achieve the same result in the meantime Like so : `docker run -v $(pwd)/data-dump:/app/dump my-image`

[2019-09-24 12:49] borekb commented on #1203
@gpapin You can't, your example won't work in some shells on Windows. See the original post where this is mentioned.

[2019-09-24 13:16] gpapin commented on #1203
You are right @borekb, this is just a workaround for linux like you mentioned in your original post.

[2019-09-24 16:52] lyndalopez544 opened #2104 "dockerd: failed to start daemon: Devices cgroup isn't mounted"
**Description**

The problematic part of <code>dockerd</code>'s output:
<pre><code>
WARN[2019-09-24T16:38:43.968826308Z] Your kernel does not support cgroup memory limit
WARN[2019-09-24T16:38:43.968902465Z] Unable to find cpu cgroup in mounts
WARN[2019-09-24T16:38:43.968935049Z] Unable to find blkio cgroup in mounts
WARN[2019-09-24T16:38:43.969017890Z] Unable to find cpuset cgroup in mounts
WARN[2

[2019-09-24 18:47] tiborvass commented on #2082
@jonjohnsonjr i believe this is now resolved as the simpler #2101 solution was accepted, so I'm closing this. Let us know if you have other dependency issues!

[2019-09-24 18:47] #2082 closed

[2019-09-24 19:08] jonjohnsonjr commented on #2082
Thanks!

[2019-09-26 13:57] Swiftyhu commented on #2104
I have the same issue.
However I found a workaround:

[code]

Sysinfo:

[code]
containerd --version
[code]

docker version
[code]

[2019-09-26 15:34] Swiftyhu commented on #2104
Found the "bug"...

I forgot to mention in my previous comment that I use(d) systemd version 243.
With systemd 242 works everything flawlessly... :)

From the systemd [changelog](https://github.com/systemd/systemd/blob/master/NEWS):
[code]

Sooo... Houston, we have a problem:
1. systemd will (or already did) jump on the cgroupsv2 bandwagon...
2. cgroupfs-mount tools does not work with newer system

[2019-09-26 20:53] jorisscheppers opened #2109 "Credentialspec from Swarm config not working"
**Description**
In Docker 19.03 support was added to provide Swarm services with credentialspec json files loaded from configs instead of binding the file from the local filesystem (https://github.com/docker/cli/pull/1781). This does not seem to work in my case. I suspect a bug but it may be that I missed something.

**Steps to reproduce the issue:**
I created a config on the manager via UCP clien

[2019-09-27 17:49] loffelmacher commented on #1257
I've spent too much time on getting zsh completion to work, and with no success.

[2019-09-29 03:08] NerdsvilleCEO commented on #1318
Is this currently being worked on?

[2019-09-30 06:05] CrazyNash commented on #1891
Run in same issue, any update?

[2019-09-30 07:59] ankanch opened #2115 "Docker ssh:// wont' work, stderr=zsh:1: command not found: docker"
I have the same problem, whereby I try to execute docker command from windows 10 to Docker on OS X 10.

as below:

[code]

tcp:// just won't works as the reason is command docker not found.

I found in issues it is possible related to the shell I use, then I tried powershell, cmd, bash, git bash. NONE of them works.

is there any fix for this?

[2019-09-30 11:02] mrepka77 commented on #2083
More testing revealed the problem is in WSL, not in Docker.

[2019-09-30 11:02] #2083 closed

[2019-09-30 14:39] AkihiroSuda commented on #2115
On the remote host, PATH needs to be set.

[2019-09-30 21:17] arkodg commented on #1891
@CrazyNash can you also please share the repro steps

[2019-10-02 14:56] ruurtjan opened #2121 "Missing error message when credhelper is not installed"
**Description**

When configuring the `credHelpers` property in the docker config, but don't have [the credential helper](https://github.com/awslabs/amazon-ecr-credential-helper) installed, an unhelpful and incorrect error message is show: `no basic auth credentials`.

**Steps to reproduce the issue:**
1. Create a file `~/.docker/config.json` with these contents
[code]
2. Run `docker push <repo/im

[2019-10-03 09:32] prankymat commented on #1203
Casual ping that I've addressed this in #1273 which just passed all the tests. Would be more than happy if any moderators could help review it! 😄

[2019-10-04 15:44] cadavre commented on #1981
Also looking forward to have this fixed. Cannot merge Stack-compose file over docker-compose one.

[2019-10-05 06:35] jpninanjohn commented on #1962
Is this still an issue?

[2019-10-05 16:06] Asalle commented on #908
shouldn't this issue be closed?

[2019-10-06 03:31] fulldecent opened #2126 "Bind mount options should support rw in addition to ro option"
Currently an option readonly/ro is possible to specify that a bind mount should be read only.

Similarly, another option, readwrite/rw should be included to indicate the opposite.

This allows flexibility in the future to switch the implicit default which is currently readwrite to readonly.

[2019-10-07 13:40] jorisscheppers commented on #2109
@dperny do you know what is going on here?

[2019-10-07 19:57] wu105 opened #2127 "docker client 19.03.1 starts tls handshake with TLSv1 client hello message"
**Description**
docker login would produce the following error:
`Error response from daemon: Get https://some.registry.com/v2/: EOF`

tcpdump showed that the client side sent TLSv1 "client hello" message and the TLS session is not established.   The server side goes through a A10 load balancer which offers only TLSv1.2 ciphers but otherwise is not upto latest security patches.

Only the newer dock

[2019-10-08 09:05] scippio commented on #1962
:man_facepalming:

[2019-10-09 12:55] ferrym4n commented on #1582
Ran into this same problem just now with version 19.03.2.

Output of `docker version`:
[code]

[2019-10-09 22:28] kinghuang opened #2130 "CLI should ignore .DS_Store files in context bundles"
**Description**

I recently looked at one of my context bundles' TLS files in Finder on macOS, which created a `.DS_Store` file. The Finder stores view metadata in `.DS_Store` files. The Docker CLI then complained on every command invocation about the file.

**Steps to reproduce the issue:**

1. Open a context's TLS directory in the Finder.
2. Do something like change the window view settings to c

[2019-10-11 20:47] cdalexndr opened #2134 "docker stats CPU above 100%"
**Description**
**docker stats** CPU shows values above 100%.

**Steps to reproduce the issue:**
1. run **docker stats** while a container is using high cpu

**Describe the results you received:**
CPU column shows values above 100% (110%, 250%...)

**Describe the results you expected:**
CPU column values should be normalized to 100%. Conceptually, header CPU % means max 100%.

**Additional informa

[2019-10-12 05:25] dmitrygashnikov commented on #1278
Make sure, that docker service is stoped, before modify hostconfig.json.
When service reloading or something it`s rewriting all changes using running config.

[2019-10-14 07:53] AkihiroSuda commented on #2134
This is expected behavior on multi-core host

[2019-10-14 13:31] Tyranneo commented on #923
I'll be happy to take this task, so I could start somewhere. I'll need a little guidance at first.

[2019-10-15 01:44] jelmd opened #2138 "missing definition of 'list'"
`docker run --help` etc. mentions several times  __list__ as an option argument but does not define, what a list actually is. E.g.:
[code]

I've tried e.g. --dns '1.2.3.4,5.6.7.8' but this does not work and results into
[code]

Also the man page is wrong: It shows e.g.
[code]

__[]__ denotes optional arguments in man pages. Since it does not contain any argument, it is actually the same as `--dns`

[2019-10-15 13:36] NielsH12 opened #2139 "Ancestor filter requires tag"
`docker ps -f ancestor=ubuntu`

Filtering docker containers based on ancestor requires the tag to produce a match
In the documentation the command `docker ps -f ancestor=<image-name>[:<tag>]` implies the tag is optional.

**Steps to reproduce the issue:**
1. In one terminal: `docker run -it --rm ubuntu:18.04 /bin/bash`
2. In another terminal `docker ps -f ancestor=ubuntu`

**Describe the results y

[2019-10-15 13:45] NielsH12 commented on #2139
I read some more in the documentation and discovered the phrase:

`If you don’t specify a tag, the latest tag is used. For example, to filter for containers that use the latest ubuntu image:`

I guess it's intended behaviour then, and there is no way to filter regardless of tags?
I'll close the issue.

[2019-10-15 13:45] #2139 closed

[2019-10-15 17:29] PedroD commented on #1143
not working

[2019-10-15 17:30] mostafahussein commented on #1143
@PedroD There is a failure related to the registry service, you can follow up through this link: https://status.docker.com/

[2019-10-15 17:30] colinodell commented on #1143
# 503 errors? Check the status page:

https://status.docker.com/

[2019-10-15 17:33] cpuguy83 commented on #1143
Thanks for the reports.
I'm locking this issue for now. Will close once the issue is resolved.

[2019-10-15 17:36] cpuguy83 commented on #1143
Actually, closing this down since it is even from the last disruption.

Please check status.docker.com for updates.

[2019-10-15 17:46] objohnson opened #2141 "ERROR: Preparation failed: Error response from daemon: received unexpected HTTP status: 503 Service Unavailable"
Hello,

We are getting errors trying to access the following image:

datadog/agent:latest-jmx

ERROR: Preparation failed: Error response from daemon: received unexpected HTTP status: 503 Service Unavailable

[2019-10-15 17:47] covertxd commented on #2141
https://status.docker.com/

[2019-10-15 18:35] maczamora commented on #2092
Wouldn't mind contributing to some documentation! I'll take a detailed look later! It looks like you need a section explaining this command line option `com.docker.network.container_iface_prefix label`

[2019-10-15 18:37] maczamora commented on #2092
Never-mind, I see there is a pull request waiting to be looked at! Looks great @Arriven

[2019-10-15 19:23] cpuguy83 commented on #2141
Thanks for the report. Please track status on status.docker.com.
Closing since there is nothing we can do here.

[2019-10-15 19:23] #2141 closed

[2019-10-18 18:46] charandas opened #2145 "credHelpers currently not fully configurable for AWS"
**Description**

I use bazel for building containers, and pushing.  I use these [rules](https://github.com/bazelbuild/rules_docker#container_push-custom-client-configuration) to achieve the push-part specifically.

The [credential helper](https://github.com/awslabs/amazon-ecr-credential-helper) by AWS allows specifying the profile for AWS only using an ENV VAR. Bazel workflow won't currently allow

[2019-10-19 02:32] ruasoliveira commented on #744
I'm having the same issue: aliases only work on external networks with docker-compose. With docker stack deploy, no alias is applied. Any changes on this behavior lately?

[code]

[2019-10-19 19:26] jaswdr commented on #2089
@rickmacgillis the problem is that your are not obligated to use docker.com, you can set up a registrar server yourself. I think is important to keep in this way, check this link https://docs.docker.com/registry/spec/auth/, you can setup an OAuth2 server for authentication.

[2019-10-21 02:33] samrocketman commented on #385
@djeikyb here's how I do it in docker-compose https://github.com/docker/compose/issues/6180#issuecomment-482598013

[2019-10-21 20:49] yangcao77 opened #2148 "Docker run allocate same host port for different container ports"
**Description**

Docker run allocate same host port for different container ip & ports.
Both `0.0.0.0: 3000` and `127.0.0.1: 9229` are mapping to `32768`.

[code]

**Steps to reproduce the issue:**
1. stop all containers and images, prune the docker system. and restart docker
2. run `docker build -t nodetest-image .`  to create a image
3. run `docker run --name nodetest-image -p 127.0.0.1::9229 -P

[2019-10-22 07:18] pymhd commented on #1962
https://github.com/docker/cli/pull/2151

[2019-10-22 12:46] shqear93 commented on #204
Same issue here!

 Model Name:	Mac mini
 Model Identifier:	Macmini8,1

Docker version 19.03.2, build 6a30dfc

[2019-10-22 12:47] shqear93 commented on #204
Same issue here!

Model Name: Mac mini
Model Identifier: Macmini8,1

Docker version 19.03.2, build 6a30dfc

[2019-10-23 00:35] boid-com commented on #1148
What is the solution to this problem? Logrotate doesn't seem to work even when containers are recreated.

[2019-10-23 02:15] cpuguy83 commented on #1148
What's the exact settings in your config?
What's the container's config ("docker inspect")

[2019-10-23 03:40] boid-com commented on #1148
docker inspect HostConfig.LogConfig
            "LogConfig": {
                "Type": "json-file",
                "Config": {}
            },

docker-compose.yml
version: '3'
services:
  prisma:
    image: prismagraphql/prisma:1.27.1
    logging:
      driver: "json-file"
      options:
          max-file: "5"
          max-size: "10m"

[2019-10-23 10:22] nabeel-shakeel commented on #2138
@jelmd : yeah, on my Desktop Docker client too, the `docker help` shows the same `--dns list`.

But it has updated in the run [manual](docs/reference/commandline/run.md), that its not **list** its a **single value** which this argument excepts.
like this `--dns 8.8.8.8` and to specify multiple DNS servers, use multiple --dns flags.

Is this change already rolled out in new update of Docker ? If no

[2019-10-23 13:42] bryht commented on #1403
I tried long version, it looks still not working.  I am using version 19.03.4, did I config something wrong?

![image](https://user-images.githubusercontent.com/2418508/67398397-dfd47900-f5aa-11e9-9e3c-9354710edcb1.png)
[code]

[2019-10-23 15:15] #1782 closed

[2019-10-23 21:07] danielhelfand opened #2155 "Jenkins Build Status in README"
The Jenkins Build Status in the README should be updated to https://ci.docker.com/public/job/cli/job/master/ or removed from the README if it's not valuable to show the e2e status.

[2019-10-24 15:29] #2155 closed

[2019-10-24 20:35] JackSullivan opened #2164 "Docker build cannot resolve git context with html escapes"
**Description**

Running `docker build` when the context is a git repository with html escaped characters fails with an error message that seems to be related to the characters becoming unescaped.
**Steps to reproduce the issue:**
Concretely, for a remote git repository located at `git://foo%04barcorp.com@gitrepos.barcorp.com:2222/myrepo.git`

1. `docker build -f Dockerfile git://foo%04barcorp.com

[2019-10-24 22:03] thaJeztah commented on #2164
This error is coming directly from `git`. When building from a remote URL, the CLI uses git to clone the repository in a temp-dir, after which it is used to perform the build;
https://github.com/docker/cli/blob/v19.03.4/vendor/github.com/docker/docker/builder/remotecontext/git/gitutils.go#L202

If you try the steps that the CLI does in a shell, you'll see the same error;

[code]

Looking at the ex

[2019-10-24 22:03] #2164 closed

[2019-10-25 12:52] marcsanmi commented on #1943
Shouldn't this issue be closed?

[2019-10-25 12:53] DomHudson opened #2166 "When mounting volumes: `panic: runtime error: index out of range`"
**Description**
A panic is displayed when running a docker image with a volume mounted to some source paths on the host machine.

**Steps to reproduce the issue:**
1. Pull any docker image
2. Run docker image with a volume binding where the source path is an unsigned integer less than 10

For example:
[code]

**Describe the results you received:**
- A golang panic is raised.
- This occurs regardle

[2019-10-25 14:59] JackSullivan commented on #2164
I mistyped in the original issue, so `%04` was supposed to be `%40`, the url encoded version of `@`. The error message that comes back is the same as that in the original issue above, where the response has the unencoded symbol (ie. `foo%40barcorp.com@gitrepos` in the input becomes `foo@barcorp.com@gitrepos` in the error message.

However, after doing some more debugging based on the commands that

[2019-10-25 16:53] mcandre opened #2168 "ADD having trouble with target filename integrity for Google Drive downloads"
When I try to use `ADD` to download a Google Drive tar.gz file and extract the archive onto root, then the resulting Docker image does not extract the file contents, but instead places a "1pgdyfxfG9LMwp6BqBJzQEgln9nQnpswp" file in the root directory. How well does `ADD` behave with HTTP redirects?

Unknown if the mimetype is correct in either `ADD` target or Google Drive HTTP(S) response.

kuberne

[2019-10-25 19:06] thaJeztah commented on #2168
What version of Docker are you using? Do you have a minimal example that can be used to reproduce the issue?

Note that `ADD` will not extract files if they are from a remote location, only if they're from a local file

[2019-10-26 19:12] cedricve opened #2169 "docker service create random port"
Hello, I'm creating a service on which I'm trying to generate a random port when publishing.

       docker service create  .... -name frontdoor3 -p 8080 ...

However I notice that I cannot access it on the random port it was assigned.  When I go into the inspection of the service, I see only the Endpoint, Ports attribute has the published port value assigned.

<img width="462" alt="Screenshot 201

[2019-10-27 13:00] ThaSami commented on #297
same error here when running Hello-world docker version.. Docker on Fedora 31

[2019-10-28 03:27] SvenDowideit opened #2170 "GO_VERSION defaulting doesn't work?"
On a pretty fresh ubuntu system, I cloned docker/cli, and tried to let the defaults "just work"

[code]

poking around - `cat ./dockerfiles/Dockerfile.dev | docker build ${DOCKER_BUILD_ARGS} --build-arg=GO_VERSION -t $(DEV_DOCKER_IMAGE_NAME) -` sets the build arg sets GO_VERSION to an empty string (kinda a surprise?) - docker `19.03.3`

running by hand, `cat ./dockerfiles/Dockerfile.binary-native

[2019-10-28 03:32] SvenDowideit commented on #2170
the change I made looks like:

[code]

[2019-10-28 15:16] nunix commented on #1376
Sorry for the delay, this now works fine. Thanks a lot for the work

[2019-10-28 16:13] thaJeztah commented on #297
@ThaSami current version of Fedora 31 switched to using cgroupsV2 by default, which is not yet supported by the container runtimes (and kubernetes); work is in progress on this, but not yet complete, and not yet production ready. To disable v2 cgroups, run:

[code]

And restart your machine.

[2019-10-29 11:28] #2086 closed

[2019-10-29 21:20] JackSullivan commented on #2164
@thaJeztah Is there a path for connecting to non-standard ports through ssh as I alluded to in the above comment?

[2019-10-30 13:41] kj54321 commented on #2104
Hi All,

     Seems issue still persist on latest Fedora 31, even with adding extra command __--exec-opt native.cgroupdriver=systemd__

And per [upstream workaround](https://bugzilla.redhat.com/show_bug.cgi?id=1746355), which works temporarily with cgroup v1.

    However, the question lays on how do we address/fix this issue permanently as it's kernel API related.

Thanks

[2019-10-31 03:09] #2115 closed

[2019-10-31 11:57] elboulangero opened #2181 "AuthConfig struct duplication between docker/cli and docker/engine breaks other packages (19.03)"
Hi,

I package docker for Debian. At the moment we're transitioning from Docker `18.09` to `19.03`. We could build [Docker 19.03.4](https://packages.debian.org/experimental/docker.io), and now we are rebuilding the packages that depend on docker.

During this transition, we observe two packages that don't build anymore against docker `19.03`, and it seems that the cause is the same. These are:

1.

[2019-10-31 14:40] thaJeztah commented on #2181
ping @tonistiigi @tiborvass PTAL

[2019-11-01 14:54] tomwj commented on #297
I had the same issue on a host running Ubuntu and needed to use:

`sudo update-grub "systemd.unified_cgroup_hierarchy=0"`

For anyone else that is on Ubuntu so doesn't have `grubby`

[2019-11-01 16:32] thaJeztah commented on #2170
Hm, I don't think we'd want to set the default in the Makefile. Wondering what's causing it though in your case. I'm trying to reproduce, but am not able to; could it be a difference in `make`?

[code]

Testing a more basic example:

[code]

[code]

[code]

[code]

[2019-11-04 22:47] marcin-brzozowski commented on #1390
Is there any update on this matter?

[2019-11-05 08:14] yoctozepto commented on #1751
This applies to the latest release as well. RECLAIMABLE is badly named.

[2019-11-05 08:46] #2047 closed

[2019-11-05 14:17] edi9999 opened #2183 "docker cp with bash process substitution does not copy the content of the file"
**Description**

I would like to be able to use bash process substitution with docker cp :

[code]
And see "hello world"

**Describe the results you received:**

cat: /hello: No such file or directory

**Describe the results you expected:**

See "hello world"

**Additional information you deem important (e.g. issue happens only occasionally):**

Most commands support process substitution like this

[2019-11-05 19:34] cpuguy83 commented on #1148
This looks like compose is not passing down the options for some reason.
I'm not intimately familiar with the compose schema here.

Doing a `docker run` manually with log options works just fine.

[2019-11-05 21:53] thaJeztah commented on #2164
I think the problem in that case is that the helper-package used in Docker currently doesn't support `ssh:` as protocol, thus won't try to use it as an external URL, but as a local filepath; https://github.com/moby/moby/blob/9419024554451ba4766766672f934d1ba14834d8/builder/remotecontext/git/gitutils.go#L205-L209

Should probably be possible to add, but given that that's an enhancement/new feature,

[2019-11-06 09:41] FernandoMiguel opened #2185 "docker version should list version of plugins"
**Description**

if there are plugins installed under `~/.docker/cli-plugins`, `docker version` should list the version of those

**Steps to reproduce the issue:**
1. `docker -version`

**Describe the results you received:**
[code]

**Describe the results you expected:**
[code]

[2019-11-07 16:11] Marco01809 commented on #1557
Any update on this? dns_opt is still desperately needed to work around gliderlabs/docker-alpine/issues/255

This option was supported perfectly fine in in docker-compose V2: https://docs.docker.com/compose/compose-file/compose-file-v2/#dns_opt, but has gone missing in V3 for no apparent reason.

Relates issues: docker/compose#6680, docker/compose#5010

[2019-11-08 00:42] Chichilele commented on #263
`rm ~/.zcompdump*` worked on ubuntu 18.04  thanks !

[2019-11-08 07:31] ghost opened #2188 "Deploying a stack on swarm with version misspelled gives wrong error message"
**Description**
Deploying a stack on swarm with `version` misspelled as `verison` gives the error message `unsupported Compose file version: 1.0`
I believe this error is wrong as it should instead be clear there is a syntax error, not an issue with the version number declared.

**Steps to reproduce the issue:**
1. Deploy a stack file on swarm with version misspelled as verison such as the example

[2019-11-08 09:06] torgeirsh opened #2189 "Strange behaviour piping docker -i to "less""
**Description**

I'm using a build tool for Haskell called Stack, which supports building and running in Docker. I've reported an issue to them about [piping the output of a project running in Docker into "less"](https://github.com/commercialhaskell/stack/issues/5064), and it was confirmed to be related to Docker's interactive mode. For reasons of simplicity, they want to always pass -i to Docker,

[2019-11-08 16:43] till opened #2190 "Community repo doesn't contain all versions of "cli" and dependency tree seems "broken" (or too lax)"
**Description**

We're installing specific version of all Docker components (CE) for customers. We're running CentOS7 currently, and use the provided repository.

**Steps to reproduce the issue:**

1. Install Docker: `yum install docker-ce-18.09.2`
2. Verify versions:

[code]

**Describe the results you received:**

The version of the CLI is different from the server. It'll depend on the latest ve

[2019-11-10 20:49] smalik-tc commented on #1136
It worked for me as well. Thank you

[2019-11-11 00:25] DeclanFarrell opened #2191 "dead link to slack channel in Contributing.md"
**Description**
The link to the slack channel in CONTRIBUTING.md appears to be dead.

**Steps to reproduce the issue:**
NA

**Describe the results you received:**
Current link displays the following:
![slack-link](https://user-images.githubusercontent.com/22755099/68553466-71e8d800-0419-11ea-8a84-7538c5704f7d.png)

**Describe the results you expected:**
Working Slack link

**Additional information

[2019-11-11 23:50] jcald1 opened #2193 "Docker ps ancestor filter on image without a tag doesn't work"
[code]

When I run: `docker ps -a -q --filter ancestor=slacgrip/master`, I get no output

If I run:
`docker ps -a -q --filter ancestor=slacgrip/master:191022`, with the '191022' tag, then it prints the container ID.

[2019-11-12 09:32] domemvs commented on #263
Works on Mac OS (Mojave)! Thanks

[2019-11-13 00:22] #958 closed

[2019-11-13 00:55] jharveysmith commented on #728
Has there been any progress here?  @vikas027 are you saying that pushing to different registries will result in different digests?

[2019-11-13 01:10] vikas027 commented on #728
yes @jharveysmith . `sha256` (or `Id`) changes when you have different registries. If you want to check the integrity of the image, use `RepoDigests`

[2019-11-14 05:18] harrier-lcc commented on #1582
having the same issue in latest docker.

`a.yaml`, `b.yaml`:
[code]

After running `docker stack deploy -c a.yaml -c b.yaml test` then `docker ps --all`:
[code]

It executed `sh sh` instead of `sh`.

Output of `docker version`:
[code]

[2019-11-14 14:03] mtmk commented on #263
`rm ~/.zcompdump*` and reopening terminal worked for me too (macOS Catalina 10.15.1). No need to do compinit as mentioned above - which also works btw.

[2019-11-14 17:07] moughamir commented on #2104
@kj54321
Fixed by the [workaround](https://bugzilla.redhat.com/show_bug.cgi?id=1746355#c12) suggested, just add the argument `systemd.unified_cgroup_hierarchy=0` in grub

[2019-11-14 20:32] jnk5y commented on #2104
I added  the argument but it did not solve the issue on a Fedora 31 install (upgraded from Fedora 30).

Here is my boot command line /proc/cmdline
`BOOT_IMAGE=(hd0,gpt2)/vmlinuz-5.3.11-300.fc31.x86_64 root=/dev/mapper/fedora_localhost--live-root ro resume=/dev/mapper/fedora_localhost--live-swap rd.lvm.lv=fedora_localhost-live/root rd.lvm.lv=fedora_localhost-live/swap rhgb quiet systemd.unified_cgr

[2019-11-14 22:26] charandas commented on #2145
I realized one can invoke any `bazel run` command with env vars prefixed like so:

[code]

So I don't need this addressed here after all.

[2019-11-14 22:26] #2145 closed

[2019-11-15 08:37] malachantrio commented on #1591
One thing to mention that I've noticed....

We also use aws-vault to switch between accounts (config that logs us into one account and role switch into the test/prod) what this means is that we get a new AWS_ACCESS_KEY_ID each time we run aws-vault which means every time it logs in to ECR the cache key that is generated will never be used again. looking at the code the cache key seems to be

"<reg

[2019-11-15 09:27] malachantrio commented on #1591
I guess it's a quirk of how ECR and AWS work. The cache needs to be keyed on your credentials not on you per se. As an example if the cache was only keyed on region and registry id then you could get into the situation where you initially log in with read credentials and it caches the token then you want to change to use higher write credentials, you would be locked out from switching credentials

[2019-11-17 00:13] SamEdwardes commented on #263
Thank you. `rm ~/.zcompdump*` worked for me as well.

[2019-11-19 14:54] Kamapcuc commented on #1136
@Titom222 you saved my day! )

[2019-11-20 06:47] anand3loq opened #2200 "Error response from daemon: OCI runtime create failed: container_linux.go:346: starting container process caused "exec: \"bash\": executable file not found in $PATH": unknown"
**Description**

**Steps to reproduce the issue:**
1. install docker ce 19.03 on sles12
2. trying to start container with docker run command
3. docker run --rm --name cont1 abc232r2r2ef bash

**Describe the results you received:**
when i am trying to spin up the container the above error is being popped up

**Describe the results you expected:**

**Additional information you deem important (e.g. i

[2019-11-20 06:54] anand3loq commented on #2200
There is no MountFlag= slave parameter so that i can comment this line from config, as per suggestion from other issues. I am using docker ce 19.03 on suse linux enterprise 12 edition.

[2019-11-20 07:12] anand3loq commented on #2200
There's no MountFlags, but systemctl show --property=MountFlags docker.service
shows MountFlags=0

Any idea

[2019-11-20 15:48] florianajir commented on #297
I have this error on windows and I never changer my credentials

[2019-11-21 02:33] C180257 commented on #836
Why would you close this issue without addressing it? it's perfectly valid!

[2019-11-21 08:53] torgeirsh commented on #2189
This can be reproduced without installing stack. Just run "docker run -i busybox ls -lR | less", and the same problem occurs.

[2019-11-21 11:30] SlavaKatiukha commented on #295
Hi All,

I have the same issue with searching \<hub-user\>/\<repo-name\>:

[code]

The search can give more appropriate results when I replacing `/` character with the space:
[code]
The same issue with REST API:
* `docker/compose`: https://index.docker.io/v1/search?q=docker%2Fcompose
[code]

* `docker compose`: https://index.docker.io/v1/search?q=docker%20compose
[code]

Should I escape the '/' ch

[2019-11-21 12:26] cainiaocome opened #2201 "docker ps and docker images show nothing"
**Description**

When executing docker images and docker ps, it does not list anything, but I am pretty sure I have more than 7 images and 3 containers running. I can access my plex on my Chrome, which is running inside a container.

Reboot my computer does solve this problem for a while, but some days later, this problem arises again.

restart docker daemon also solves this problem, but container

[2019-11-22 09:22] NikolayPianikov opened #2203 "docker: Error response from daemon: invalid volume specification"
**Description**

docker CLI reports error `docker: Error response from daemon: invalid volume specification` and it depend on an image. It does not work for `mcr.microsoft.com/dotnet/core/sdk:2.2`

docker CLI works as expected for `mcr.microsoft.com/dotnet/core/sdk:3.0` on the same environment

**Steps to reproduce the issue:**
1. Use docker CLI on Windows for Linux containers
2. run `docker run -

[2019-11-22 10:59] NikolayPianikov opened #2204 "docker: Error response from daemon: the working directory ... is invalid, it needs to be an absolute path."
**Description**

docker CLI reports error docker: Error response from daemon: the working directory '...' is invalid, it needs to be an absolute path.

**Steps to reproduce the issue:**
1. Use docker CLI on Windows for Windows containers
2. Run

[code]
3. docker CLI reports `docker: Error response from daemon: the working directory 'c:\buildagenttemp\work\9d55fd57e39bb0f1' is invalid, it needs to

[2019-11-22 13:18] JayjeetAtGithub commented on #2200
@anand3loq Have you tried doing `docker run --rm --name cont1 abc232r2r2ef /bin/bash` ?

[2019-11-22 13:25] anand3loq commented on #2200
Hi there all the OCI runtime error got solved after using proper load command to extract image from tarball,  docker load worker for me instead docker image import.

[2019-11-22 13:25] #2200 closed

[2019-11-22 22:58] dkypuros commented on #297
Thanks for your fix. I'm on Fedora 31, and docker works with latest docker documentation for fedora: https://docs.docker.com/install/linux/docker-ce/fedora/#install-docker

[2019-11-23 12:28] omercsp commented on #2104
@jnk5y, It **does** work for me on F31. Fresh install though. In the Redhat thread it looks like it worked for other people as well. Did you get the same error?

[2019-11-23 12:36] mokaymakci commented on #297
The solution worked like a charm for Fedora 31.

[2019-11-25 08:48] ibrahimawadhamid commented on #2134
I'm having a similar issue with geoserver 2.14.3 , but I can't figure it out.

[2019-11-25 08:59] AkihiroSuda commented on #2134
This is not an issue. If you have `N` CPU cores, the CPU usage can be up to `N * 100`%.

[2019-11-25 09:07] cdalexndr commented on #2134
I don't think there is a system monitor tool (linux or windows) that shows CPU usage above 100%.
Conceptually, 100 percent means maximum value.

[2019-11-25 09:13] ibrahimawadhamid commented on #2134
The main issue is that geoserver is consuming all of these resource when nothing is being processed at all! not even accessing it through the web. Shouldn't geoserver in his idle state just be consuming memory and not a lot of CPU ?!

[2019-11-25 09:15] AkihiroSuda commented on #2134
`systemd-cgtop`

Seems an issue on geoserver.

[2019-11-26 10:43] raags commented on #2134
Cpu % is calculated using deltas of the `total_usage` as per https://github.com/docker/cli/blob/6c12a82f330675d4e2cfff4f8b89a353bcb1fecd/cli/command/container/stats_helpers.go#L180

Here the ratio is multiplied by the number of CPUs. However, `cpuDelta` already includes usage across all CPUs (see below).
Adding all values in `percpu_usage` gives `total_usage` (which is used to derive `cpuDelta`).

[2019-11-26 11:07] ibrahimawadhamid commented on #2134
I found and resolved the issue. I had my health check in my docker-compose.yml configured to try every 2 seconds. I changed it to 3 minutes and now everything is fine.

[2019-11-26 12:18] Iridescens commented on #1631
Can confirm what @clauderobi said:
`14:54:43 someserv.localdomain dockerd[1041]: time="2019-11-26T14:54:43.044288160+03:00" level=debug msg="Calling POST /v1.39/images/<registry_FQDN>/root/test-project-1-pue/mybusybox/push?tag="
14:54:43 someserv.localdomain dockerd[1041]: time="2019-11-26T14:54:43.044535183+03:00" level=debug msg="Trying to push <registry_FQDN>/root/test-project-1-pue/mybusybox t

[2019-11-26 19:16] ejyanezp commented on #939
How to force a container's (task) environment variables to receive its values from the environment variables of the host in which it is running? (This is for each task in a "docker stack deploy" running in several swarm nodes)

I have a service defined in a "docker-compose.yml" file, like:
===================
  openlegacy-config-server:
    image: credicorpbankinnovacion/config-server:4.2.4.b1914

[2019-11-26 19:27] ejyanezp commented on #939
How to force a container's (task) environment variables to receive its values from the environment variables of the host in which it is running? (This is for each task in a "docker stack deploy" running in several swarm nodes)
I have a service defined in a "docker-compose.yml" file, like:
[code]
This service is to be deployed unto two nodes of a docker swarm using docker stack deploy
For each node

[2019-11-27 04:01] raags commented on #2134
Ok, but the logic above doesn't seem right. @AkihiroSuda could you please review? I couldn't find anything in git blame.

[2019-11-29 14:47] adampl commented on #267
To avoid unnecessary repetitions, use this Bash expansion syntax:
[code]

[2019-11-30 10:19] fmmajd opened #2208 "any docker command gives error: bad symbol table"
hi

I installed docker successfully on my Ubuntu 18.04 machine, with no errors whatsoever.

But when I use any docker command at all, even help commands, I get the following error:

[code]

when I get the service status:
[code]

my machine is:
  Intel® Core™ i3-7100 CPU @ 3.90GHz × 4
  16G memory
  Ubuntu 18.04 64-bit
  3.28.2
  500G disk

I tried completely uninstalling docker, removing all the f

[2019-11-30 14:10] fmmajd commented on #2208
I unisntalled the docker again, and this time checked the version.

version: 5:19.03.5~3-0~ubuntu-bionic gives me an error.

but if I use version:5:19.03.4~3-0~ubuntu-bionic instead, it works.

probably a bug

[2019-11-30 16:35] lanyyyy opened #2209 "Does 'docker push' can run in concurrency?"
Hello:
    I have one virtual machine with docker-cli installed. Now I want to run 'docker push' to push the image to different repositories in concurrency  with different accounts, does docker/cli support this?

[2019-11-30 22:46] probonopd opened #2210 "Simple way to make all environment variables of the host accessible from inside Docker"
Please provide a **simple** way to make all environment variables of the host accessible from inside Docker, thanks.

Use case: I am building on Travis CI inside Docker containers, and need access to all the environment variables outside of the Docker container.

[2019-12-03 02:44] nethershaw commented on #2104
Obviously docker just has to support cgroupsv2.

[2019-12-04 16:06] codeseedr opened #2212 "Return image ID from docker image load command"
**Description**

I propose that `docker image load` return, apart from the image name, the assigned image ID. That would save an extra step of listing images in order to find it. It would also make the command consistent with container creation which does return container ID.

**Describe the results you received:**
[code]

**Describe the results you expected:**
I'd prefer to see also the image ID

[2019-12-04 17:19] cpuguy83 commented on #2104
cgroups v2 support is well underway, support first has to be merged into containerd: https://github.com/containerd/containerd/pull/3799

There's also some outstanding PR's on runc it seems.

[2019-12-05 13:04] thaJeztah commented on #2212
This requires a change in the API code to return the information.

Looks like the API currently returns either;

- a response for each image name / tag (`Loaded image: foo:bar`)
- if no tags were found, the image-ID (`Loaded image ID: <image id>`)

https://github.com/moby/moby/blob/ad1b781e44fa1e44b9e654e5078929aec56aed66/image/tarexport/load.go#L129

[code]

https://github.com/moby/moby/blob/ad1b

[2019-12-05 14:03] codeseedr commented on #2212
Thanks for a prompt and thorough analysis.

I think all the info (in the single tag printing mode at least) should be provided on a single line. However, I admit the change in format is a concern, so to avoid breakage the new, more informative format should be introduced with a cmd line switch: `-v/--verbose` or `-f/--format` like you suggested, with the latter taking a parameter it would also ena

[2019-12-05 14:04] thaJeztah opened #2213 "[epic] Remove "engine activate/check/update" subcommands"
These subcommands were created to allow upgrading a Docker Community engine to Docker Enterprise, but never really took off. With the migration of the docker "enterprise" products to Mirantis, we should remove these subcommands as releases may no longer be done in sync in future.

- [x] https://github.com/docker/cli/pull/2207 Remove "docker engine" subcommands
- [x] https://github.com/docker/docke

[2019-12-05 14:04] thaJeztah commented on #2213
/cc @seemethere (perhaps you know if there's more locations to look for changes to be done?)

/cc @silvin-lubecki

[2019-12-05 16:50] thaJeztah opened #2214 "[proposal] change "docker push" behavior to default to ":latest" instead of "all tags""
Implementation:

- [x] API client: https://github.com/moby/moby/pull/40302 client.ImagePush(): default to ":latest" instead of "all tags"
- [ ] CLI: https://github.com/docker/cli/pull/2220 implement docker push -a/--all-tags
- [ ] docs: (no PR yet)

The `docker push` command up until [v0.9.1](https://github.com/moby/moby/blob/v0.9.1/api/client.go#L998) always pushed all tags of a given image, so `

[2019-12-05 16:53] thaJeztah commented on #2214
@silvin-lubecki @tianon @dmcgowan PTAL

[2019-12-05 16:53] thaJeztah commented on #2214
/cc @nebuk89

[2019-12-05 17:20] e2designs commented on #1891
We are running into the same issue on multiple systems:
[code]

Once the system is in this state. We are unable to start a container with the same name, even though the previous container was removed with `docker rm -f <container-name>`

The container was started with:
[code]
This container only reaches a `created` state.

starting a second container with a different name results in:
[code]
Other

[2019-12-05 17:48] rokcarl commented on #2214
I was burnt by the current functionality today.

I had a `Makefile` with:
* a`push` target that does `docker push company/app`,
* a `push-production` target that does `docker push company/app:production`.

I was under the impression that `production` will never be overwritten unknowingly by a developer, even if they circumvent `make` and just do `docker push`.

But then we noticed the production i

[2019-12-05 21:28] tianon commented on #2214
I'm +1 to bringing `docker push` back into symmetry with `docker pull`: :tada:

[code]

(This was swapped for `docker pull` in https://github.com/moby/moby/pull/7759 :+1:)

[2019-12-05 22:44] seemethere commented on #2213
I believe https://github.com/docker/docker-ce-packaging/pull/411 should suffice

[2019-12-06 09:32] thaJeztah commented on #2213
Thanks for looking, @seemethere 🤗

[2019-12-06 10:21] rulatir commented on #1975
Every software system that can be employed to perform potentially time-consuming operations in an automated workflow, should provide an interface that allows, for every potentially time-consuming operation, to determine whether the operation *would* be effectively a time-consuming no-op if executed. Not designing this capability into Docker from the very beginning is a serious design flaw.

[2019-12-06 10:22] rulatir commented on #1975
This is equally relevant to `docker build`.

[2019-12-06 10:26] rulatir commented on #538
No, it's not "cheap", it's just the right price. There is a good reason people want to avoid calling APIs: it's hard, i.e. cognitively "expensive".

[2019-12-06 10:40] Nowaker commented on #538
Bash is a perfectly viable language for certain situations. No need for a cannon (APIs) when an exit code can do just fine.

[2019-12-06 11:51] thaJeztah commented on #2210
This is not something we'd likely implement, because it would take away the separation that containers provide (and having such an option would be risky, as it would give containers access to, e.g., secrets such as AWS tokens without the user explicitly choosing to do so).

If should not be too difficult to achieve this with a bash script though; the following script will fetch all environment var

[2019-12-06 12:27] thaJeztah opened #2215 "[epic] remove experimental "docker (stack) deploy" using "dab" files"
The top-level `docker deploy` command (using the "Docker Application Bundle" (`.dab`) file format was introduced as an experimental feature in Docker 1.13 / 17.03, but superseded by support for Docker Compose files (and `docker app` / CNAB).

With no development being done on this feature, and no active use of the file format, we will be removing support for the DAB file format, and the top-level

[2019-12-07 02:28] whatboxapp commented on #2104
`dnf install -y grubby

grubby --update-kernel=ALL --args="systemd.unified_cgroup_hierarchy=0"

reboot`

[2019-12-07 06:31] abhishek09091 commented on #2204
Hello @NikolayPianikov I also faced the same issue.

I would like to ask one question please don't mind:

Which command line interface are you using: CMD, Gitbash (Particulary linux based) ?

Thank you

[2019-12-07 08:58] probonopd commented on #2210
Thanks for the workaround @thaJeztah. Was hoping for a simple command line switch like `--use-host-env` though, but I understand your explanation.

[2019-12-07 09:21] kkm000 opened #2217 "The experimental "docker registry" command cannot be enabled"
The issue was originally reported in docker/for-win#5158, but from the discussion there does not appear Windows-specific.

**Description**

Contrary to the [documentation](https://docs.docker.com/engine/reference/commandline/registry/), enabling experimental CLI features does not enable the `docker registry` command.

**Steps to reproduce the issue:**
1. Follow the documentation to enable experime

[2019-12-07 10:00] kkm000 commented on #2189
Can confirm. Also, I thought that adding `-t` would help, but that only made it much worse.
[code]
Ended up with the tty in noecho mode.

Terminal emulator is MobaXterm 10.6.

[2019-12-08 14:39] zhangguanzhang opened #2219 "docker cp bug"
info:
[code]
[code]

[2019-12-08 14:42] zhangguanzhang commented on #2219
[code]

[2019-12-08 22:56] kkm000 commented on #2189
@torgeirsh, I was looking at some scripts of mine, and noticed that I did not use `-i` at all when running containers only for their output. Just confirmed it helped. I understand your problem, some other software uses the hardcoded `-i`, but maybe there is an option to configure it? If you compile it yourself, maybe removing the `-i`, or adding in only if output is a tty (see `man 3 isatty`, or y

[2019-12-09 03:54] SarathLUN commented on #263
Thank you. this also worked for me.

[2019-12-09 10:21] slava-vishnyakov commented on #2219
Multiple people reported similar issues with docker cp:

https://github.com/dokku/dokku-elasticsearch/issues/75

[2019-12-09 11:09] schinckel commented on #954
Yeah, it's pretty frustrating that you can't clear or update manifest data from `docker manifest`. At least this issue exists and suggests how you can clear out the manifest local cache. I was running out of machines I could build the manifest on...

[2019-12-09 12:18] thaJeztah commented on #2210
Let me close this issue for now, because there's a workaround for this use-case, and I don't think we'd currently want to implement this, but feel free to continue the conversation.

[2019-12-09 12:18] #2210 closed

[2019-12-09 12:20] thaJeztah commented on #1891
@e2designs your error-message is different, and (as far as I can see) is expected, because port `5900` is already assigned to the first container;

[2019-12-09 13:52] thaJeztah commented on #2219
Problem looks to be here; https://github.com/docker/cli/blob/v19.03.5/cli/command/utils.go#L142

Looks like `fileInfo` is `nil` in some cases

[2019-12-09 14:59] rong0312 commented on #1403
Hey I am facing the same issue now days (docker version 19.03.5)
[code]

Not working!
Actually, my service not getting started in the first place some why (normal docker-compose command will start my container!)
Anything new with this issue?

[2019-12-09 15:37] e2designs commented on #1891
@thaJeztah I understand that the error message states that it is already allocated. The container that was using 5900 had been torn down and removed. There is no indication within the docker daemon that it is still allocated and no containers show in a `docker ps -a`. Starting a new container with a different port also fails.

[2019-12-09 16:08] thaJeztah commented on #1403
@bryht your case looks slightly different, and looks to be related to the Kubernetes conversion. @chris-crone any ideas on that one?

@rong0312 the fix that was made only makes changes to the long-hand syntax, not the shorthand one; https://github.com/docker/cli/issues/1403#issuecomment-510511630

[2019-12-09 20:40] #2219 closed

[2019-12-10 03:54] narfman0 commented on #2104
Very old fedora install here. I:

1. Added `GRUB_CMDLINE_LINUX="systemd.unified_cgroup_hierarchy=0"` to `/etc/default/grub`
2. Ran `grub2-mkconfig -o /boot/grub2/grub.cfg`
3. Ran `reboot`

and everything was happy

[2019-12-10 08:48] guwenqing opened #2223 "Bug? ARG before FROM in multi-phase build cannot be replaced"
**Description**

Arguments in the second build phase cannot be replaced in the FROM statement.

**Steps to reproduce the issue:**
1. Create Dockerfile like this
ARG VERSION1=18.04
FROM ubuntu:${VERSION1} AS builder

ARG VERSION2=18.04
FROM ubuntu:${VERSION2}

2. Run docker build .

**Describe the results you received:**
Sending build context to Docker daemon  4.096kB
Step 1/4 : ARG VERSION1=18.04

[2019-12-10 08:54] #2223 closed

[2019-12-10 08:56] guwenqing commented on #2223
Found this:
https://docs.docker.com/engine/reference/builder/#understand-how-arg-and-from-interact

It turns out the Dockerfile needs to be written in this way, it works even if not desired.
ARG VERSION1=18.04
ARG VERSION2=18.04
FROM ubuntu:${VERSION1} AS builder
ARG VERSION2
FROM ubuntu:${VERSION2}

[2019-12-10 09:13] chris-crone commented on #1403
It looks like that error is coming from Compose on Kubernetes: https://github.com/docker/compose-on-kubernetes/blob/master/internal/convert/volumes.go#L49

@silvin-lubecki or @aiordache can you PTAL?

[2019-12-10 21:05] mschoettle opened #2225 "ARG in FROM causes invalid reference format"
**Description**

I am trying to declare an `ARG` before `FROM` for the version of the base image to then use it in the `FROM` statement, as explained here: https://docs.docker.com/engine/reference/builder/#understand-how-arg-and-from-interact

However, building fails as described below.

**Steps to reproduce the issue:**
1. Create `Dockerfile` with the following content:

[code]
2. Build

**Descri

[2019-12-10 22:19] cpuguy83 commented on #2225
The referenced article is does not exist.

Have you tried this with `DOCKER_BUILDKIT=1`?

[2019-12-11 03:04] mschoettle commented on #2225
I corrected the URL to the referenced article.

I can confirm that it works with `DOCKER_BUILDKIT=1`.

[2019-12-11 03:39] cpuguy83 commented on #2225
Ok so it seems like the docs just need to be updated. I don't think the old (non-buildkit) builder will be updated to support this.

[2019-12-11 06:53] rong0312 commented on #1403
I can't find a proper way to volume my stack's service.
I tried to bind & volume in all variations, everything fails to volume.
Can someone who succeeded in doing it explain how he has done it?

[2019-12-11 08:18] thaJeztah commented on #2217
Thanks for reporting! The `docker registry` plugin currently only ships with Docker Enterprise Edition, which is likely why this doesn't work. I see the documentation doesn't mention this, which is something to be fixed.

/cc @usha-mandya

[2019-12-11 10:36] thaJeztah commented on #2217
Opened a pull request for the documentation: https://github.com/docker/docker.github.io/pull/10008

[2019-12-11 10:57] thaJeztah commented on #2225
I'm not able to reproduce this issue (both with and without buildkit enabled);

[code]

I'm not on an ARM machine though

Debug logs from the daemon show the same request as in this issue's description;

[code]

Although the error message you posted looks a bit odd, showing `http://` before `/var/run/docker.sock` ?

If I try to use an _invalid_ Dockerfile, I do get the "invalid reference format" e

[2019-12-11 14:30] mschoettle commented on #2225
I enabled debug mode and ran `DOCKER_BUILDKIT=0 docker build .`. Here is the relevant part of the debug log:

[code]

[2019-12-11 16:00] thaJeztah commented on #2225
Looks like a different error than the original issue; is that with the same Dockerfile? Can you also post the output of `docker info`?

[2019-12-11 16:14] mschoettle commented on #2225
Yes, same Dockerfile with the same output/error on the console as in the issue description.

Output of `docker info`:

[code]

[2019-12-12 09:59] torgeirsh commented on #2189
Thanks for looking into it. The tool I use (stack) can't know if the session will be interactive or not, because it's a build tool, so it depends on the code being developed. It also doesn't use docker by default, so its authors are reluctant to add an option to control -i, because configuration flags are already a big part of their support burden. Maybe isatty is a viable solution, but I'll await

[2019-12-12 14:22] treksler commented on #612
any update on this? or a pointer to where in code one might look to take a crack at this

[2019-12-12 17:14] myaser commented on #1318
what is the status now?

[2019-12-13 19:03] dperny opened #2226 "Swarm Jobs CLI"
[Swarm jobs](https://github.com/docker/swarmkit/pulls?utf8=%E2%9C%93&q=is%3Apr+%5BJobs%5D) [is coming](https://github.com/moby/moby/pull/40307), and it needs the CLI designed.

## Behavior ##
Currently, internally and from the API, Jobs are presented as a different Service mode. This is because they follow mostly the same rules as Services, with the key distinction that the Tasks spawned by a Job

[2019-12-16 02:57] Montana commented on #297
Getting this on Mac OSX Catalina still.

[2019-12-17 15:33] SundialServices opened #2229 ""docker login" doesn't run in Linux without X11"
I cannot use the command `docker login quay.io` in Linux unless I am running in a command-line environment that is hosted by some kind of GUI.  Otherwise, I get: *(whether or not it's "quay.io" ...)*

`Error saving credentials: error storing credentials - err: exit status 1, out: Cannot autolaunch D-Bus without X11 $DISPLAY`

... and the `login` does not succeed.

Many Linux systems do not have an

[2019-12-17 15:34] SundialServices commented on #2229
P.S.  It doesn't matter if I do or don't use `sudo` and yes I am a member of the `docker` group.  Fundamentally, the command appears to want to rely on a "keyring" that doesn't exist outside of X11!  This is a very fundamental design flaw.

[2019-12-17 15:39] thaJeztah commented on #2229
Sounds like you may have the `golang-docker-credential-helpers` package installed; that package is not shipping with docker by default, but something that's packaged by Ubuntu (and possibly other distros). The `golang-docker-credential-helpers` provides helpers for both the `secretservice` and `pass` credential stores, but if `pass` is not installed, it picks `secretservice` as store, which is par

[2019-12-19 15:38] thaJeztah commented on #2226
Need to give this some thought 🤗

One thing that could make this problematic (assuming behind the scenes they're all "services", is that it would not reflect "reality"; so `docker job create foo` would create a job. That job won't be visible in `docker service ls`, but `docker service create foo` would fail because a service with that name already exists.

[2019-12-19 15:39] thaJeztah commented on #2226
So, _ideally_ things would really be namespaced, but that's of course a much bigger changed.

[2019-12-19 15:40] thaJeztah commented on #2226
/cc @docker/core-cli-maintainers for visibility

[2019-12-24 18:46] Drewster727 commented on #1403
@rong0312

docker
[code]

docker-compose
[code]

That help at all?

[2019-12-25 07:56] vaseemkhan007 commented on #2025
This error encountered when trying to run command that is not in docker container` /usr/bin` or `/usr/local/bin`. If you have let's say rar installed in the docker then you can run rar command via docker exec, if you don't, will get the error above.

Also don't use -t only use -i like below:

[code]

[2019-12-25 09:30] Redsandro commented on #1891
I have run into the same issue. My server running [jwilder/nginx-proxy](https://github.com/jwilder/nginx-proxy) with [docker-letsencrypt](https://github.com/JrCs/docker-letsencrypt-nginx-proxy-companion) had run out of disk space, so it stopped updating certificates:

[code]

I freed up a terabyte, but restart did not work:

[code]

`sudo service docker restart` helped.

[2019-12-25 13:15] eyalbe4 opened #2233 "Make the repository, tag and image ID available for docker registries when pushing an image."
When pushing a docker image to a registry, the following values related to the pushed image are not available for the registry: repository, tag and image ID.
Would it be possible to add these values to the request which pushes the blogs (for example, as headers). so that the registry can access them?

Thanks

[2019-12-27 12:22] thaJeztah commented on #2233
Can you describe the use-case? I don't think this is part of the distribution specification (https://github.com/opencontainers/distribution-spec); blobs are pushed to the registry, after which the manifest is pushed that correlates the blobs with the manifest ("image")

[2019-12-27 13:01] eyalbe4 commented on #2233
Sure @thaJeztah,

For a registry that applies permissions on what images can be pushed, it allows the registry to verify that blobs can be pushed early on, otherwise the point of permission check has to be deferred to the very end until the manifest is pushed.

With this change, blobs that are not permitted to be pushed can be rejected immediately if needed by looking at image name:tag information

[2019-12-27 14:00] thaJeztah commented on #2233
Such a change would be breaking compatibility with anything currently used; it would mean that any system currently used to push images would no longer be able to (if the registry rejects blobs that do not have this information); the first step for getting this implemented would be to open a proposal for changing the specification.

[2019-12-27 18:42] eyalbe4 commented on #2233
@thaJeztah,
This change can be backward compatible. The suggestion is to add information to the request. If the additional information is there, the registry can chooae to use it.
Please let me know what you think.

[2019-12-29 01:38] bobcowher commented on #1901
It looks like this is covered on the "Docker Context" page - https://docs.docker.com/engine/context/working-with-contexts/

Which help message would you like this to show up in? I'm new to this, but I would be happy to take a crack at it.

[2019-12-29 02:23] bobcowher commented on #2038
@Zyqsempai If you haven't already gotten to this, I wouldn't mind taking a swing at it.

[2019-12-29 08:46] Zyqsempai commented on #2038
@bobcowher Sure. I don't mind at all. Enjoy;)

[2019-12-29 11:52] AkihiroSuda commented on #2038
@thaJeztah @justincormack Does this SGTY?

[2019-12-30 21:43] Amit006 commented on #2039
docker.service - Docker Application Container Engine
   Loaded: loaded (/lib/systemd/system/docker.service; enabled; vendor preset: enabled)
   Active: failed (Result: exit-code) since Tue 2019-12-31 03:10:03 IST; 1min 39s ago
     Docs: https://docs.docker.com
  Process: 10087 ExecStart=/usr/bin/docker daemon -H fd:// (code=exited, status=1/FAILURE)
 Main PID: 10087 (code=exited, status=1/FAILURE

[2019-12-30 23:21] arseniybanayev opened #2235 "Stack deployments should not override current service scale"
When re-deploying an existing stack in order to update services inside it (with `docker stack deploy`), the stack file's `service.deploy.replicas` value overrides the current scale of each service. For example, if I have a stack called `my-stack` with

[code]

but because of increased load, at some point I scaled the service up to 9 replicas using:

[code]

then running the following command to, e

[2019-12-31 11:02] thaJeztah commented on #2235
I understand where you're coming from, but I don't think this would be possible currently. The `docker stack` commands are (currently) fully implemented client-side, and other than some metadata on objects that were created (labels that are set on services, volumes, networks etc), no "state" is preserved, and as such, the compose-file itself is treated as the "source of truth" (the desired state o

[2019-12-31 11:16] thaJeztah commented on #2233
The registry changes would not be backward compatible: it would reject blobs that are pushed by any client that doesn't provide this information (many millions of current installs, in addition to other clients, not just "docker"). By enforcing it, such a registry would not be compliant with the distribution specification.

For other registries, the extra information would be just "noise", without

[2019-12-31 11:25] thaJeztah commented on #2225
There's an existing (but very old) issue where the error returned didn't provide information about the reasons _why_ (see https://github.com/moby/moby/issues/5270), but that was resolved in https://github.com/moby/moby/pull/5782.

Does the machine have enough disk space to (temporarily) store the uploaded build-context? It's also worth checking if there's any potential configuration issues. You ca

[2019-12-31 11:52] thaJeztah commented on #2204
The error itself comes from the daemon; https://github.com/docker/engine/blob/v19.03.5/daemon/container.go#L383-L405

And depending on if the daemon is running on Linux or Windows, this is the check that determines if the path is absolute;

https://github.com/docker/engine/blob/v19.03.5/pkg/system/filesys.go#L23

https://github.com/docker/engine/blob/v19.03.5/pkg/system/filesys_windows.go#L132

I

[2019-12-31 11:56] thaJeztah commented on #2201
The daemon shows no images or containers are present;

[code]

But based on the output of `docker info`, it looks like you're running the "snap" package of Docker;

[code]

That package is not maintained by Docker, and has a different setup that the official packages; are you also able to reproduce this problem when installing the official package? (installation docs: https://docs.docker.com/insta

[2019-12-31 12:39] thaJeztah commented on #2185
_If_ added, it should likely be under the `Client:` section (not under `Server: `). I recall we had some discussion about this at the time; initially there would be a `docker cli-plugin ls` command to list all plugins, with the option to extend this subcommand to add more "management" commands later (to install/uninstall plugins). To reduce scope (and because no decision was made yet whether or no

[2019-12-31 12:46] FernandoMiguel commented on #2185
i find `docker info` to show most of what is needed.
just think most people don't know about it.

OTOH, if one wants to know the version, one would expect `-version` to list of all dependencies and installed plugins

[2019-12-31 13:32] thaJeztah commented on #2185
Yes, there's definitely some merit in having it included in `docker version`.

🤔 I did just notice that the `docker info` output doesn't sort the plugins alphabetical, which looked a bit messy; just pushed a PR to fix that:https://github.com/docker/cli/pull/2236

[2020-01-01 15:48] duckinator commented on #2104
Running this on Fedora 31, after an in-place upgrade from Fedora 30, works:

[code]

See [a specific comment on the Fedora 31 bug report](https://bugzilla.redhat.com/show_bug.cgi?id=1746355#c1) and [the Fedora 31 documentation on using grubby](https://docs.fedoraproject.org/en-US/fedora/rawhide/system-administrators-guide/kernel-module-driver-configuration/Working_with_the_GRUB_2_Boot_Loader/#sec-

[2020-01-01 15:53] joesixpack commented on #2039
What does sudo dockerd say?  In my case:

Error starting daemon: Error initializing network controller: Error creating default "bridge" network: could not find an available, non-overlapping IPv6 address pool among the defaults to assign to the network

[2020-01-02 16:01] xkszltl commented on #2056
Is this behavior documented anywhere?
I'm using buildkit and having the same kind of issue since I want to keep the failed build for debugging.

[2020-01-03 00:56] mschoettle commented on #2225
Yes

Here's the output:

[code]

[2020-01-03 01:14] mschoettle commented on #2225
This is weird. I just ran `docker build` again with my test Dockerfile and it worked:

[code]

I did not change anything since I first tried it and posted the issue (at least nothing that seems related to this issue). The only thing I did was in order for the check script to run I had to do `sudo modprobe configs` because it couldn't find the kernel config at first. Could that have fixed it?

[2020-01-06 01:21] DavidFW1960 commented on #1751
[code]
Additionally, how it it even possible to have 1.183GB of images and only 40.92kB size? 2 Images, 4 containers.
(In my system, 23 images 5.842GB and 23 containers 285MB - not what portainer is showing either.)
How can that space be reclaimed?

[2020-01-06 02:34] bysnupy commented on #1751
@DavidFW1960 As far as I know, Containers means container layers, so  it's different layers with
 base images. Refer here https://docs.docker.com/v17.09/engine/userguide/storagedriver/imagesandcontainers/#images-and-layers for more details.

[2020-01-06 03:19] DavidFW1960 commented on #1751
Thanks for that. Good info.
[code]
I'd love to be able to reclaim that 720mb...

[2020-01-06 14:28] thaJeztah opened #2241 "[builder] reduce dependency-graph if possible (ttrpc)"
as noticed in https://github.com/docker/cli/pull/2153#issuecomment-567479453, due to some types being defined, the ttrpc is needed as a dependency. Perhaps with some changes we could get rid of that dependency.

Copying the comment from that issue:

Ok, so the ttrpc dependency is needed again as a dependency, because of https://github.com/containerd/containerd/pull/3321 (Update ttrpc for metadata

[2020-01-06 14:29] thaJeztah commented on #2241
/cc @AkihiroSuda @tonistiigi

[2020-01-07 14:09] thaJeztah commented on #2191
Can you try if this link works? http://dockr.ly/slack

[2020-01-07 14:38] stefaanMLB commented on #2229
@thaJeztah, so the solution is ... ?
Remove the `golang-docker-credential-helpers` or install `pass` ?

[2020-01-07 14:42] aedelbro commented on #1891
Ran into this after recreating a container after it was locked up and wasn't responding to stops or SIGKILL
`ERROR: for mongo  Cannot start service mongo: endpoint with name integration-test-mongo already exists in network`

Command history:
[code]

The container happened to be mongo, but I don't think it matters.
[code]

Restarting the service (obviously) resets the network, and then allows me to

[2020-01-07 15:47] thaJeztah commented on #2229
Yes, if you want to run without X11 / run headless, then that's the solution

[2020-01-07 16:30] marcriemer opened #2245 "Rotate secrets by mixing id and name result in target conflict"
Mixing the secret id and name on service update command result in conflict. Using the old and new name for rotation worked as expected.

# Command

docker service update nginx --secret-rm iz4fjkq1z6ka7zvrx48ifaetm --secret-add source=1578412904_ssl.example.com.key,target=/etc/ssl/ssl_example_com.key,mode=0400,uid=101,gid=101

# Result:

Error response from daemon: rpc error: code = InvalidArgument

[2020-01-07 17:01] carlfischerjba commented on #1651
Here's an example where the first file prints "foo" and the second file overrides the command to print "bar" instead.

docker-compose.yml:
[code]

docker-compose.prod.yml:
[code]

Works as expected with `docker-compose`. The second file correctly overrides the first.

[code]

But not with `docker stack deploy`. The second file appears to have no effect.
[code]

Inspecting the container shows that

[2020-01-07 17:05] carlfischerjba commented on #1582
Same here. I also tried providing the command as an array and as a list but it didn't help.

[2020-01-07 17:10] carlfischerjba commented on #1651
Possibly related to #1582.

[2020-01-07 17:17] carlfischerjba commented on #1582
A workaround suggested in #1651 is to create a combined compose file with `docker-compose` before passing it to `docker stack deploy`.

[code]

Or alternatively pipe it directly.
[code]

[2020-01-08 08:29] rajputvishwas opened #2247 "Docker image deleted from repository"
**Description**

**Steps to reproduce the issue:**
I came across strange incident, wherein few of docker images deleted automatically from repository.

I have list of images saved in .tar file format and I am loading these images using script.

cd /root/docker_images
files=`ls /root/docker_images`
for f in $files
do
docker load -i $f
done

It works fine and loads all the docker images to repositor

[2020-01-08 08:40] rajputvishwas commented on #2247
![image](https://user-images.githubusercontent.com/15668995/71962919-8d593f00-3220-11ea-96b0-d2bf645c28d5.png)

[2020-01-08 10:43] torgeirsh commented on #2189
Any news about this? Do you have comments on whether this should be fixed in Docker CLI or not @thaJeztah?

[2020-01-08 16:10] thaJeztah commented on #2247
Docker won't remove image by itself; are there no cleanup scripts running that (e.g.) call `docker system prune` or `docker image prune`?

[2020-01-08 17:35] radix commented on #1597
my question is: why do we even need to pass `--cache-from`? Why can't docker just look in all local images for caches? If it did, we would still only need to remember one thing, and it would be "pull all the images you want to be able to cache from before you build".

[2020-01-09 04:33] rajputvishwas commented on #2247
@thaJeztah there are cleanup scripts running as I just have 10 docker images. However I have not faced such incidents on regular basis.

[2020-01-09 09:49] thaJeztah commented on #2247
If those script use `docker image prune -a` (`--all`), then images that are unused by a running container will be pruned;

start a container using the `busybox:latest` image

[code]

check that the image exists in the local image cache

[code]

pruning images will remove untagged and unused images

[code]

The `busybox:latest` image is still in use, so not removed:

[code]

Removing the container,

[2020-01-09 09:56] thaJeztah commented on #2247
related issue: https://github.com/moby/moby/issues/36295

[2020-01-09 10:07] rajputvishwas commented on #2247
I am explicitly not removing or running the container. I have OKD (3.11) installed on top of docker. I am consuming application images from docker repository.

Let us say if I have to run busybox application, I will use

oc  new-app --docker-image=busybox:latest

Then, OKD internally run and manage the image.

Coming to point where the image is reference under multiple tags, yes I have seen such c

[2020-01-09 10:12] thaJeztah commented on #2247
I'm not familiar enough with OKD to tell if it would run other jobs behind the scenes to clean up 🤔. My thinking with the `image prune` situation was that it _could_ be a race condition (i.e., no container started yet for an image and a cleanup script triggering at that time).

[2020-01-09 10:18] rajputvishwas commented on #2247
It could be, as of now I am not able to reproduce it, but will try to capture more details if possible. Thanks @thaJeztah

[2020-01-09 10:21] thaJeztah commented on #2247
Let me close this issue for now, because without more information, there's nothing actionable.

Also, if there's a bug, that would be most likely in the engine (https://github.com/moby/moby) itself, not the CLI (which  is what this repository contains).

Feel free to continue the conversation though!

[2020-01-09 10:21] #2247 closed

[2020-01-09 11:29] aigarius opened #2248 "docker purge removes intermediate build images"
**Description**

Docker purge command is commonly used to occasionally remove old, unreferenced images from the local filesystem. However, whenever it is used, the next builds start from scratch.

**Steps to reproduce the issue:**
1. Run "docker build -t somename ."
2. Run "docker purge"
3. Run same "docker build -t somename ." again

**Describe the results you received:**

Docker build in step 3

[2020-01-09 14:11] thaJeztah commented on #1954
Closing this, per my comment on https://github.com/docker/cli/pull/2244#issuecomment-572577516, but feel free to continue the conversation

[2020-01-09 14:11] #1954 closed

[2020-01-09 22:07] theffernan-mphn commented on #2201
I have suffered from this issue several times with the official package.

It has happened when killing containers / rebooting machine or updating docker.

`docker images` shows nothing, `docker ps -a` shows nothing.

When i try to run the container again, it will throw an error saying an application is already using port 80.

Current procedure to recover VM to be able to host new containers is to

[2020-01-10 16:51] thaJeztah commented on #1597
/cc @tonistiigi @AkihiroSuda @tiborvass

[2020-01-10 17:16] tonistiigi commented on #1597
Building with buildkit doesn't require images to be pre-pulled. The matched layers are pulled automatically during build and rest is ignored.

[2020-01-10 17:16] #1597 closed

[2020-01-10 18:03] bossmc opened #2249 "Permission denied errors using buildkit when Dockerfile is in `/tmp`"
**Steps to reproduce the issue:**
1.  Put a Dockerfile in `/tmp`
2.  Ensure there's some non-readable/non-accessible folder in `/tmp` too (e.g a systemd PrivateTmp folder)
2.  From somewhere else (e.g. `~/`) run `DOCKER_BUILDKIT=1 docker build -f /tmp/Dockerfile .`

**Describe the results you received:**

[code]

**Describe the results you expected:**

The image is built successfully without tryin

[2020-01-10 18:03] bossmc commented on #2249
Further investigation reveals that the docker client is the one failing to open the folder:

[code]

[2020-01-10 18:04] bossmc commented on #2249
Workaround (from @tonistiigi - thanks!) is to do:

[code]

[2020-01-10 18:07] tonistiigi commented on #2249
@tiborvass We should make a temporary copy of Dockerfile always, (not only when set from stdin) and send the temp copy instead.

[2020-01-10 19:20] phxnsharp opened #2250 "docker run -p with new syntax is backwards"
**Description**

If you use the new expanded syntax for publishing ports with the 'docker run' command, the "sense" is backwards from the equivalent option in 'docker service create'.

Granted, the documentation for 'docker run' does not state you can use the new syntax. However, it accepts the format and then does the wrong thing.

**Steps to reproduce the issue:**
On a one node swarm, these two

[2020-01-10 22:40] corneliusweig commented on #1597
Thanks for clarifying this!

[2020-01-13 15:53] #2058 closed

[2020-01-14 23:21] msbenjamin12 commented on #267
I solved the problem by the following:
docker push [REPOSITORY]

**example:**
localhost:5000/someRepo:tag1
localhost:5000/someRepo:tag2
localhost:5000/someRepo:tag3

**The following will push all the above example images to the REPOSITORY**
docker push localhost:5000/someRepo

[2020-01-15 11:47] thaJeztah opened #2253 "[proposal] implement docker build --pull=missing|never|always"
Pull request https://github.com/docker/cli/pull/1498 added a `--pull` option to `docker run` and `docker create` (to address https://github.com/moby/moby/issues/34394), which has three options:

`--pull`         | description
-----------------|------------------------------------------------------------------------------------------------------
(not set)        | (default) pull the image if it doe

[2020-01-15 11:51] thaJeztah commented on #2253
@tonistiigi wdyt?

[2020-01-15 13:21] japanfred commented on #267
Thanks! This works perfectly in our build environment.

[2020-01-15 13:54] #2250 closed

[2020-01-15 14:01] ndeloof opened #2254 "Inconsistent handling of empty env vars"
**Description**

`docker run -e FOO` will remove var FOO set by Docker image if no such var exists in user environment. But `FOO` (without `=`) in an env_file passed by `--env-file` doesn't. Seems this is expected behaviour reading env_file according to https://github.com/docker/cli/blob/master/opts/envfile_test.go#L161-L163

**Steps to reproduce the issue:**
1. Create Dockerfile :
[code]
2. build

[2020-01-15 14:03] ndeloof commented on #2254
cc @thaJeztah

[2020-01-15 14:38] nrueckmann opened #2255 "[proposal] Add stack name to environment / allow substitution in compose file"
I expect most naming conventions do leverage the name of the stack. Unfortunately, this name is not available for substitution in compose file. Since the stack name is known for any stack command, i propose to add the name of the stack as environment variable which can be used for substitution.

Example / Use case:
[code]
Side note: Rancher does provide a similar feature already (see https://githu

[2020-01-15 15:25] thaJeztah opened #2256 "flaky test: TestPushWithContentTrustExistingTag"
seen failing sometimes: https://ci.docker.com/public/blue/organizations/jenkins/cli/detail/PR-2251/4/pipeline

[code]

[2020-01-15 15:25] thaJeztah opened #2257 "flaky test: TestInstallWithContentTrust"
seen failing sometimes: https://ci.docker.com/public/blue/organizations/jenkins/cli/detail/PR-2251/4/pipeline

[code]

[2020-01-15 15:50] mason-chase commented on #952
I have this issue on Docker version 19.03.5

running:
[code]
version: "3.4"
services:
    api:
        image: 'backend:b64b003'
        networks:
            - private
            - public
        ports:
            - "4443:443"
            - "8088:80"
        environment:
            ASPNETCORE_URLS: 'https://+;http://+'
            ASPNETCORE_HTTPS_PORT: 443
            ASPNETCORE_Kestrel__Certi

[2020-01-15 17:27] thaJeztah commented on #2257
Seeing this one fail as well;

[code]

Wondering if this is actually related to https://github.com/docker/cli/pull/2132, which was merged recently @tonistiigi

[2020-01-16 09:26] ndeloof commented on #2254
Tested with various CLI versions

behaviour changed between 19.09.1 (dump `FOO=BAR`, env from image not overridden)
and 18.05 (dump `FOO=`, env overridden but not removed :-\ )

[2020-01-16 09:44] ndeloof commented on #2254
Change was introduced by https://github.com/docker/cli/commit/96c026eb301f4f9d2cb224d0ee1a2312b7f5b60c
cf https://github.com/docker/for-linux/issues/284

Before this, VAR without a value which didn't map to an existing env variable resulted in `VAR=` added to parsed lines and override in container environment with empty string.

After change, such a VAR is just ignored, still being inconsistent wi

[2020-01-16 10:26] #1962 closed

[2020-01-17 09:41] max-carroll commented on #1412
you'll need to install moreutils to get this to work, but this will prepend each line of the docker stats with a timestamp as it writes it to a file

while true; do sudo docker stats --no-stream | ts '[%H:%M:%S]' |  tee --append stats.txt; sleep 1; done

I take no credit for this work as its a mish mash of other peoples work

[2020-01-17 14:56] davesargrad opened #2270 "docker push fails to private docker IP but not to localhost"
I created a private docker registry as follows:
`docker run -d -p 5007:5000 --restart=always --name registry registry:2`

I then tried the commands found [here](https://docs.docker.com/registry/deploying/):

`docker push localhost:5007/my-ubuntu `

succeeds. However docker
`push docker push 10.93.97.131:5007/my-ubuntua `
fails

The tag and push for each is seen below.
![image](https://user-images.

[2020-01-17 15:07] thaJeztah commented on #2270
By default, registries should have TLS enabled. An exception is made for `localhost` (and `127.0.x.x` IP addresses), because those are a common case for local testing; see the output of `docker info`, which shows what registries are configured as "insecure";

[code]

When pushing to an insecure registry, docker will first attempt to push with a TLS connection (https://), but falls back to non-TLS,

[2020-01-17 15:12] davesargrad commented on #2270
Hi @thaJeztah

Thanks for your response.

I have configured my registry as insecure. I first learned to do this over a year ago when i started using docker. In the following you will see that 10.93.97.131:5007 is marked insecure

![image](https://user-images.githubusercontent.com/48793689/72622659-af824980-3911-11ea-8e30-4d7eeaecd3f9.png)

[2020-01-17 15:15] davesargrad commented on #2270
Oddly I just noticed that No Proxy isnt set, even though
` systemctl show --property=Environment docker`

seems to suggest it is.

This may be my problem. How is it that these are out of sync?

[2020-01-17 15:20] thaJeztah commented on #2270
Does it work if you specify them on separate `Environment` options?

[code]

[2020-01-17 15:29] davesargrad commented on #2270
Turns out a reboot resulted in no_proxy being handled correctly. I dont know why there seemed to be a disconnect between
`docker info`
and
`systemctl show --property=Environment docker`

[2020-01-17 16:06] davesargrad commented on #2270
Hi again @thaJeztah

I will close this issue. Your input did help me. Even though it wasn't the insecure registry, it did help me to realize how easy it is to see the current configuration that docker is working with.

I would like to know why docker info and systemctl show ... provided seemingly conflicting information.

If you have some thoughts on this, I'd appreciated.

Regardless, thank you f

[2020-01-19 17:17] diablodale opened #2272 "compose parser fails 3.4+ schema for `volume` with `external`, `driver`, `driver_opts`, `labels`"
### Description

The compose parser in `/cli/compose/loader/` does not follow the compose 3.4+ schema rules as they apply to volumes that are `external` and also declare `driver`, `driver_opts`, `labels`. Instead, the code only follows the rules that apply for schemas 3.0-3.3.

Errant code has been isolated and trivial fix is ready.

### Setup

* https://github.com/docker/cli 18.06, 18.09, or curr

[2020-01-19 19:05] diablodale commented on #2272
branch with fix + test cases https://github.com/docker/cli/compare/v18.09.5...diablodale:fix-loadvol1

[2020-01-20 08:52] ndeloof commented on #2272
Fro info the reason this rule has been relaxed (https://github.com/docker/compose/commit/aaa0773b4b6ce44a3c1494d8eb2e25406f0593f9) is to allow `external.name` to be replaced by two sibling fields `eternal` and `name`.

For my information can you please explain in which scenario you need to declare both `external` and `driver`?
Sounds a valid request by the way, we need to fix this.

[2020-01-20 09:05] ndeloof commented on #2272
Looking at https://github.com/docker/cli/compare/v18.09.5...diablodale:fix-loadvol1 your fix sounds good. I personnaly would just remove this whole check, as it only check for a legacy fields combination that is now considered valid because additional attributes (but `name`) are ignored, so worst case we would just accepts a pre-3.4 docker-config file using those and ignore attributes that should

[2020-01-20 13:46] diablodale commented on #2272
Personally, I want to use `external` and `driver` on AWS ECS with a Rexray driver to mount existing EBS and S3 volumes. Currently it is not possible due to the errant code.

I'm neutral regarding the fix as I've written and your preference to remove the denial on 3.0-3.3. I wrote the fix to match the schema. However, the core team for this project might have a different philosophy regarding such t

[2020-01-20 14:37] ndeloof commented on #2272
`external` means that docker-compose will **not** manage the volume and just ensure it exists on platform, so `driver` wouldn't make any sense in this context (should at most be ignored).

Does this relate to https://github.com/aws/amazon-ecs-cli/issues/927 ? According to comments found here, `external` is not supported by ECS, did they maybe changed this in the meantime ?

[2020-01-20 15:46] lflucasferreira commented on #1962
I still get this problem.

Today I tried:

[code]

So I was forced to use another port, in this case, 8100:8001

[2020-01-20 15:50] thyn opened #2274 "Ingress routing is broken after service update with start first"
Can't access ports after update service with start first (ingress routing). Disabling start first is resolving issue.

**Steps to reproduce the issue:**
1. docker service create --name httpd -p 8001:80 httpd:2.4

2. iptables --list DOCKER-INGRESS -n
Chain DOCKER-INGRESS (1 references)
target     prot opt source               destination
ACCEPT     tcp  --  0.0.0.0/0            0.0.0.0/0

[2020-01-20 15:52] thaJeztah commented on #1962
@lflucasferreira the fix is only in master currently, but port `80010` is invalid ([the RFC describes port numbers are 16 bit](https://tools.ietf.org/html/rfc793), so the maximum port number is 65535)

[2020-01-20 16:05] thaJeztah commented on #2270
No idea why it would show different information in your case; are you using the `live-restore` feature perhaps? systemd would set the environment variables, and the docker daemon directly reads those variables when starting the daemon.

Let me close this issue, but feel free to continue the conversation

[2020-01-20 16:05] #2270 closed

[2020-01-20 16:15] diablodale commented on #2272
A few comments....

External means something slightly different then you wrote according to docker reference documentation. "external: If set to true, specifies that this volume has been created outside of Compose. docker-compose up does not attempt to create it, and raises an error if it doesn’t exist."
It is the creation/provisioning, not the management. Declaring external means to expect a prec

[2020-01-20 16:39] ndeloof commented on #2272
https://github.com/aws/amazon-ecs-cli/issues/607 is interesting. IIUC the use of `external: true` allows to make it a share resource, but you still want ECS to create a `volume` (in terms of a docker volume API reference) for underlying shared AWS resource (EBS). Sounds to me the mapping for `external` in this scenario is incorect by ECS implementation, as you WANT the docker volume to be created

[2020-01-20 18:05] diablodale commented on #2272
Glad to hear your +1.
For your thinking on the general case... I would think both of the following docker-compose are valid 3.4 schema. The first one creates/destroys driver volumes everytime. The second references pre-created driver volumes. In both cases, the driver-as-a-namespace is needed to disambiguate driver volume names that are the same, but not unique across all docker volumes.

#### Cre

[2020-01-20 20:21] ndeloof commented on #2272
Volume name must be unique in docker daemon whenever driver isn't the same. So your first sample is not valid (you can't have twice `name: themaster` to declare volumes) (see https://docs.docker.com/compose/compose-file/#name)

[2020-01-21 10:43] silvin-lubecki commented on #2274
Hello @thyn and thank you for reporting this issue. You were right opening on `docker/swarm` 👍
By the way you opened it yesterday, so I guess you should wait a little more before stating there is no activity on your issue. If nothing happens you can ping the core maintainers on your issue 👍
I'll close this issue as it is a duplicate of the swarm one.

[2020-01-21 10:43] #2274 closed

[2020-01-21 14:31] lmammino commented on #1293
Having this would be great. Currently doing weird hacks to circumvent this limitation... :(

[2020-01-21 21:07] daveisfera opened #2278 "Add ability to specify process name when running build"
This is a feature request to ask for a way to specify the name of the process when using `docker build`

[2020-01-21 21:16] thaJeztah commented on #2278
I'm not sure I understand the request; could you add more details what you're looking for, and perhaps a use-case?

[2020-01-21 21:33] daveisfera commented on #2278
Currently, if you run `docker build`, the process is assigned a random name, but it would be nice if you could do something like `docker build --name web_bundles-beta` or `docker build --name api_server-prod` so you could easily identify what the process was doing

[2020-01-22 04:00] raginijx commented on #2278
Have yo u tried using, any of the below ?

1. --label Set metadata for an image
2. docker tag SOURCE_IMAGE TARGET_IMAGE
3. docker rename CONTAINER  NEW_CONTAINER

[2020-01-22 11:56] thaJeztah commented on #2278
Still not sure I fully understand what you mean with `process` here; if you mean the image that's built, that would be the `-t` / `--tag` option? (`docker build -t myimage:latest ....`)

Could you perhaps show some steps what you ran, and what you expected to see?

[2020-01-22 14:17] daveisfera commented on #2278
On our CI server, I run a build using something like `docker build -t web:beta --label service.name=web web` so that it will build the bundles for `web` with the `beta` tag in the `web:beta` image, and the process is called something like `jovial_agnesi` when I look at the processes using `docker ps` or `docker stats`. Ideally, I could specify what it's called using an arg like `--name` (i.e. some

[2020-01-22 15:35] daveisfera commented on #2278
👍

[2020-01-22 17:14] thaJeztah commented on #1943
can be closed now, as https://github.com/docker/cli/pull/1950 was just merged

[2020-01-22 17:14] #1943 closed

[2020-01-22 19:21] biolockjBuilder opened #2279 "OCI error when specifying a _command_ to docker run"
**Description**
I get an OCI error when I try to run a command through a docker container.

**Steps to reproduce the issue:**
1. Install docker 19.03.5 (earlier version also produced the error, but I didn't record the version number then)
2. run `docker run ubuntu echo hi` # this does what I expect
3. run `docker run hello-world echo hi` # I expected this to do the same thing

**Describe the resul

[2020-01-22 22:22] sureshsankaran opened #2280 "device mount fails under remote context in MacOS with 19.03.5 docker CLI"
---------------------------------------------------
BUG REPORT INFORMATION
---------------------------------------------------
When i try to do device mount under remote context in MacOS with 19.03.5 docker CLI, i get below error.

$ docker run -d --device=/dev/ttySerial:/dev/ttySerial docker_image
docker: unknown server OS: .
See 'docker run --help'.

**Description**

Unable to do device mount in

[2020-01-22 22:24] sureshsankaran commented on #2280
Looks like below commit caused this issue.
https://github.com/docker/docker-ce/commit/eb973f58a00c48bcde97f61a7903b8d474f6c6c0

https://github.com/docker/docker-ce/blame/master/components/cli/cli/command/container/opts.go#L971

[2020-01-22 23:09] thaJeztah commented on #2280
We should probably make it default to `linux` if no OSType was found (or when talking to an older API version)

The code to _detect_ the OSType didn't change between v18.09 and v19.03; both use the same; https://github.com/docker/cli/blob/v18.09.0/cli/command/cli.go#L212-L230

Curious though why it's not able to get the API version; the OSType header has been there for a while (latest change in th

[2020-01-23 03:28] cpuguy83 commented on #2279
The hello-world image does not have the "echo" command in it.
As I recall it is a single executable built from assembly.

[2020-01-23 03:29] cpuguy83 commented on #2279
Do you have another example that you are having issues with? This seems to be working as expected from your example.

[2020-01-23 03:35] cpuguy83 commented on #2248
There is no linking between images, they are totally independent.
Wouldn't the purpose of running prune like this be to specifically clean up unused things like cache data?

If you use buildkit instead of the classic builder there are finer grained controls for managing build cache. I would recommend using that instead.

[2020-01-23 03:39] waterwarrior commented on #1891
I was faced with same problem.
[code]
As far as I understand it happens when docker force killed a container but for some reason this container still available  into an information about a network
[code]
as well as a containerd-shim process
[code]

[2020-01-23 06:39] sureshsankaran commented on #2280
I do see the ostype retrieved correctly!!

$ curl -v -k  https://172.27.180.12:443/v1.37/_ping
*   Trying 172.27.180.12...
...

< HTTP/1.1 200 OK
< Server: nginx
< Date: Thu, 23 Jan 2020 05:32:30 GMT
< Content-Type: text/plain; charset=utf-8
< Content-Length: 2
< Connection: keep-alive
< Set-Cookie:
< Cache-Control: private, no-cache, no-store, must-revalidate
< Pragma: no-cache
< Expires: 0
< Api

[2020-01-23 08:55] aigarius commented on #2248
I would expect there to be a linking and default prune not removing intermediate images that lead to images that are currently tagged. Aren't intermediates still in the layer stack of the final image? Once I build a new image and a particular intermediate is no longer in the cache chain, then I would expect it to be pruned. There might be a separate option like "prune intermediate" to be used in p

[2020-01-23 09:51] 5hanth commented on #1891
highly under-rated comment.

[2020-01-23 13:13] DanielHabenicht opened #2281 "Provide a way to download only the docker-cli"
**Description**

**Steps to reproduce the issue:**
1. Have the need to only install the cli, because the docker host is somewhere else.
2. Try to install **only** the docker-cli. But the main distribution always comes with the daemon and there are various workaround to install only the cli. (see below)

**Describe the results you received:**
It is not possible to simply download and execute the do

[2020-01-23 13:16] DanielHabenicht commented on #2281
Just for info there is another [opensource Repo](https://github.com/StefanScherer/docker-cli-builder) mirrorig this repo, which provides the cli for chocolatey

[2020-01-23 13:18] kirkone commented on #2281
thanks to @StefanScherer and his work on https://github.com/StefanScherer/docker-cli-builder/ there is a way to get the file, but in my opinion there should be an official way to get this.

[2020-01-23 14:34] cpuguy83 commented on #2248
There is no linking between images. Images can reference the same layers, but an image itself is self-contained.
I would recommend you give the buildkit builder a try.
You can do this by setting "DOCKER_BUILDKIT=1" when invoking the build command.

[2020-01-23 15:41] #951 closed

[2020-01-23 15:59] thaJeztah commented on #2281
For linux, the CLI and Engine (daemon) are separate packages nowadays, so you can install just the `docker-ce-cli` package; e.g. here's the packages for Ubuntu Xenial; https://download.docker.com/linux/ubuntu/dists/xenial/pool/stable/amd64/

If you want to use add the cli to an image you're building, there's an easy way to do this in your Dockerfile:

[code]

The above will pull the official `dock

[2020-01-23 16:01] thaJeztah commented on #2281
I think the above should work on Windows as well (`COPY --from`) but of course with modified paths (`docker.exe` instead of `docker`)

[2020-01-23 16:12] DanielHabenicht commented on #2281
Thanks for your answer @thaJeztah! That covers the docker use case. But if I am working on a normal VM or PC I can't just copy if from the docker image. So there still is no easy way to just download the CLI.

As a side note, there seems to be an [easy way to get the CLI](https://stackoverflow.com/a/38681742/9277073) (in Linux and Mac, but not for Windows)

[2020-01-23 17:02] thaJeztah commented on #2281
Yes, the Windows binaries were no longer published at some point, because for Windows only Docker for Windows ("Docker Desktop"), for desktop machines, and Docker Enterprise (for Windows Server) were supported.

Changing that (and at least publish _client_ binaries again) is being discussed, but no decision was made yet. You can find "master" builds on https://master.dockerproject.org (but that lo

[2020-01-23 17:07] diablodale opened #2282 "e2e test fail in clean 18.06,18.09,19.03: "error contacting notary server... no such host""
e2e tests with `make -f docker.Makefile test` fail on branches `18.06`,`18.09`,`19.03` clean from this repo. I suspect there is some undocumented setup needed for the e2e tests.

Assertion failed errors common to all e2e test failures are about the `notary-server`
[code]
or
[code]

### Setup

* Ubuntu Server 18.04.3 LTS
* Docker CE 19.03.5

### Repro

1. `git clone https://github.com/docker/cli.gi

[2020-01-23 17:54] sureshsankaran commented on #2280
I just tried downgrading docker cli to 18.09 on my mac and it works fine with device mount under remote context.

$ docker version
Client: Docker Engine - Community
 Version:           18.09.0
 API version:       1.37
 Go version:        go1.10.4
 Git commit:        4d60db4
 Built:             Wed Nov  7 00:47:43 2018
 OS/Arch:           darwin/amd64
 Experimental:      false

Server:
 Engine:
  V

[2020-01-23 17:59] DanielHabenicht commented on #2281
Well, then you can use this issue for tracking progress on it :)
Please keep us updated, thanks!

[2020-01-23 19:23] sureshsankaran commented on #2280
**> < Server: nginx**

Do you think the issue could be due to 19.03 cli not handling properly for cases with nginx reverse proxying the requests to remote docker server, where serverOS is set incorrect ?

[2020-01-23 20:26] sergio00 commented on #297
Any advice or suggest?

[2020-01-23 20:27] thaJeztah commented on #2280
One thing I was considering is that 19.03 does a `HEAD /_ping` first, and if that fails, falls back to `GET /_ping` (it's possible that that could be related).

Not sure if the nginx reverse proxy makes a difference (but not excluding that possibility). I was about to spin up a machine and install docker 18.03, then try with a 19.03 client

But you could try running a client in a container on your

[2020-01-23 21:34] arkaitzmugicaislas commented on #2104
I can't make it work in Fedora 31 Silverblue. I've tried everything to install and config moby-engine. Terminal copy-paste:
docker run hello-world
docker: Got permission denied while trying to connect to the Docker daemon socket at unix:///var/run/docker.sock: Post http://%2Fvar%2Frun%2Fdocker.sock/v1.39/containers/create: dial unix /var/run/docker.sock: connect: permission denied.

[2020-01-23 21:56] sureshsankaran commented on #2280
@thaJeztah I tried same device mount operations as you suggested with running docker cli:19.03 inside the container on the target device with sock volume mounted. I DID NOT see the same device mount issue.

[2020-01-23 22:27] arkaitzmugicaislas commented on #2104
ok... I've made it run...
The problem was on the way rpm-ostree works and how to change user groups.
grep -E '^docker:' /usr/lib/group >> /etc/group
and then
usermod -aG docker username
just that :-)

[2020-01-24 04:40] AkihiroSuda commented on #2215
Any remaining issue?

[2020-01-24 11:31] thaJeztah commented on #2215
No, I think we're all set: we updated the documentation already (even though it's not "removed" yet from the current release, but doesn't hurt to limit exposure of the feature).

Let me close this one 👍

[2020-01-24 11:31] #2215 closed

[2020-01-24 11:47] thaJeztah opened #2284 "docker push --quiet suppresses errors and non-zero exit code"
(as commented by @BarakBD-Globality in https://github.com/moby/moby/issues/36655#issuecomment-577968227)

The `docker push --quiet` option was implemented in https://github.com/docker/cli/pull/2197 (not in a release yet), but appears to not print errors and returns a `zero` exit code on failure;

Without `--quiet`

[code]

With `--quiet`:

[code]